#mmhead-section {
  position: fixed;
  top: 0;
  width: 99%;
  background-image: url(../img/background.gif);
  padding: 5px 1px 1px;
}

#mmpage {
  padding-top: 110px;
}

#modlist {
  padding-top: 150px;
}

#mmoutter {
  width: 99.8%;
}

.leftmmanalyzer {
  width: 35%;
  vertical-align: top;
}

.rightmmanalyzer {
  width: 65%;
  vertical-align: top;
}

.mmhighlight {
  color: #900;
}

.mmfilenmfont {
  font-size: 120%;
}

.mmlochdr {
  color: #00f;
}

.mmkeyword {
  color: #a00;
}

.mmrightalign {
  text-align: right;
}

.mmlinks {
  text-decoration: none;
}

.mmhdrtable, .mmtable {
  width: 100%;
}

.mmtable {
  padding: 10px 1px;
}

.mmpadtop5 {
  padding-top: 5px;
}

.ptr {
  cursor: pointer;
}

.colcb {
  width: 5%;
}

.colfn, .colmn {
  width: 35%;
}

.colvr {
  width: 10%;
}

.colmln, .colst {
  width: 15%;
}

.colmld, .colmlfn {
  width: 30%;
}

.colmlvr {
  width: 5%;
}

.colmlst {
  width: 20%;
}

div.descpop {
  position: relative;
  margin: 0 5px 3px 0;
  float: right;
}

div.descpop div {
  position: absolute;
  max-height: 200px;
  top: -2000px;
  right: 14px;
  visibility: hidden;
}

div.descpop:hover div {
  visibility: visible;
  max-height: 200px;
  overflow-y: auto;
  top: -75px;
  background: #fff;
  padding: 3px;
  border: 2px solid #000;
}

@media screen and (max-width: 750px) {
  div.descpop:hover div {
    width: 300px;
  }
}

@media screen and (min-width: 750px) {
  div.descpop:hover div {
    width: 500px;
  }
}

td.avail {
  background-color: #fff;
}

td.avail, td.inst {
  border-bottom: 2px solid #00cc7a;
  border-right: 2px solid #00cc7a;
  border-top: 1px solid #0f3;
  border-left: 1px solid #0f3;
  text-align: center;
}

td.inst {
  background-color: #cfc;
}

td.failed {
  border-bottom: 2px solid #c00;
  border-right: 2px solid #c00;
  border-top: 1px solid #c00;
  border-left: 1px solid #c00;
  background-color: #ffe5e5;
}

tr.modline:hover td.mmcell:nth-child(-n+5) {
  background-color: #eeeb8d;
}

.colselct {
  width: 4%;
}

.colcfgnm, .colmodnm {
  width: 20%;
}

.colversn {
  width: 8%;
}

.colwiki {
  width: 4%;
}

.colstatus {
  width: 40%;
}

.colaflist {
  width: 4%;
}

span.opened {
  background: url(../img/tng_collapse.gif) no-repeat 0;
}

span.closed, span.opened {
  padding-left: 14px;
  cursor: pointer;
}

span.closed {
  background: url(../img/tng_expand.gif) no-repeat 0;
}

span.modlink {
  display: inline-block;
  width: 96%;
}

span.modlink, td.flink {
  cursor: pointer;
}

.mmcell, .stcell {
  border: 1px solid #aaa;
  vertical-align: top;
  padding: 0 1px;
}

div.mminner {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mmcell, div.mminner {
  white-space: nowrap;
}

.checkpad {
  padding-left: 0;
  padding-top: 0;
}

.afcell {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mmpad2 {
  padding: 2px;
}

.mmpadleft {
  padding-left: 3px;
}

.cellspace1 {
  border-spacing: 1px;
  border-collapse: separate;
}

.imgcenter {
  left: 40%;
  margin-right: -40%;
}

.mmpopuptable {
  width: 100%;
}

.mmpopuphdr {
  line-height: 150%;
  padding-left: 3px;
}

div.descpop1 {
  position: relative;
  width: 16px;
  margin: 0;
}

div.descpop1 div {
  position: absolute;
  display: none;
  right: 16px;
  top: 0;
  overflow-y: auto;
  background: #fff;
  padding: 3px;
  border: 2px solid #000;
}

div.descpop1:hover div {
  display: block;
  max-height: 150px;
}

@media screen and (max-width: 750px) {
  div.descpop1:hover div {
    width: 300px;
  }
}

@media screen and (min-width: 750px) {
  div.descpop1:hover div {
    width: 500px;
  }
}

.results {
  list-style-type: square;
  list-style-position: inside;
  font-style: italic;
  font-weight: 700;
  padding: 5px;
}

.w100 {
  width: 100%;
}

.hidden {
  display: none;
}

.ready {
  background-color: #f5fff5;
}

.installed {
  background-color: #c6f6c6;
}

.partinst {
  background-color: #ffe8bd;
}

.badcfg {
  background-color: #ffe5e5 !important;
}

.tag {
  font-style: italic;
}

.tgtfile {
  font-weight: 700;
}

.hilight {
  background-color: #ff0;
}

.hilighterr {
  background-color: #ffccf9;
}

.mmmenuwrap {
  position: relative;
  padding-bottom: 1px;
}

.html, body {
  height: 100%;
}

.mmcontainer {
  height: calc(100vh - 180px);
}

#mmgrid.lightback {
  border-bottom: 0;
  padding-bottom: 175px;
}

#mmgrid td.tngshadow {
  border: 0;
}

#mmgrid td, #mmgrid td div, #mmgrid th, .results {
  border-radius: 3px;
}

.edbuttonbar {
  text-align: center;
  padding-top: 5px;
}

div.edreturn {
  padding: 1em .5em;
}

div.edreturn form {
  padding-left: 10px;
}

.mmsubhead {
  text-align: center;
  padding: 5px;
  font-size: 12px;
}

.edpanel, .grayborder {
  border: 1px solid #aaa;
}

.edpanel {
  vertical-align: top;
  padding: 5px;
}

.mmleftcol {
  width: 35%;
  vertical-align: top;
}

.mmrightcol {
  width: 65%;
  vertical-align: top;
}

.adminback {
  background-image: url(../img/background.gif);
}

.mmhead-fixed {
  top: 0;
}

.mmhead-scroll {
  position: relative;
  margin-top: 0;
}

.mmhead-fixed, .mmhead-scroll {
  width: 99.5%;
  min-width: 640px;
}

.fbar-scroll, .ibar-scroll, .tbar-scroll {
  position: relative;
  margin-top: 0;
}

.fbar-fixed, .fbar-scroll, .ibar-fixed, .ibar-scroll, .tbar-fixed, .tbar-scroll {
  margin-top: 0;
  padding-bottom: 1px;
  width: 99.5%;
  z-index: 1;
}

table.m3table-fixed {
  margin-top: 5px;
}

table.m2table-scroll, table.m3table-scroll, table.mmlist-scroll, table.mmlog-scroll {
  margin-top: 0;
}

table.m2table-fixed, table.m2table-scroll, table.m3table-fixed, table.m3table-scroll, table.mmlist-fixed, table.mmlist-scroll, table.mmlog-fixed, table.mmlog-scroll {
  table-layout: fixed;
  padding: 0;
  width: 99.5%;
}

.mmsysmsg {
  font-size: 150%;
  text-align: center;
  color: #f00;
}

h2.parse-table-title, p.parse-error {
  color: #900;
}

div.list-indent {
  margin-left: 2em;
  text-indent: -2em;
}

.location-note, .target-note {
  display: inline-block;
  width: 100%;
  padding-left: 3px;
  border: 1px solid #808080;
}

.target {
  color: #a52a2a;
}

.copyfile, .mkdir, .newfile {
  color: #000080;
}

.parse-table {
  position: absolute;
  min-width: 98%;
  top: 120px;
  left: 5px;
  padding: 5px;
}

.admintop {
  overflow-x: hidden;
  white-space: nowrap;
}

.topbanner {
  z-index: 5;
}

#tngnav a.here {
  position: relative;
  z-index: 0 !important;
}

form {
  width: 100%;
}

.fbar-fixed, .ibar-fixed, .tbar-fixed {
  position: sticky;
  position: -webkit-sticky;
  top: 0 !important;
}

table.m3table-fixed {
  margin-top: 0;
}

.w100 {
  width: 95%;
}

table.mmlist-fixed {
  margin-top: 0 !important;
}

/*# sourceMappingURL=modmanager.css.map */
