.adminbody, .admincorner {
  background: url(./img/background.gif);
}

.admincorner {
  float: left;
  padding: 2px 2px 2px 5px;
  width: 154px;
  height: 50px;
  text-align: center;
}

.admindivider {
  width: 80%;
  float: left;
}

.admintitle {
  padding: 0;
  margin: 7px 0 0;
}

.admintop {
  padding-left: 10px;
  overflow: hidden;
}

.topbanner {
  position: fixed;
  top: 0;
  height: 55px;
  margin: 0;
  width: 100%;
  line-height: 1.4;
  z-index: 1;
}

.leftmenu {
  width: 150px;
  height: 100%;
  padding: 60px 6px 0;
  position: fixed;
  line-height: 1.25;
  overflow: auto;
}

#adminslidebar {
  position: absolute;
  right: 6px;
  height: 600px;
  width: 15px;
  cursor: pointer;
  margin: auto;
}

.sideback {
  background-color: #336;
}

.mainback {
  padding: 60px 0 0 166px;
}

.mainbox {
  border: 1px solid #c0c0c0;
  background-color: #fff;
  padding: 1px;
  margin: auto;
  width: 100%;
  max-width: 992px;
}

.adminsubhead {
  font-size: 16px;
  margin-bottom: 2px;
}

.adminsubmsg, .admintotal {
  color: #ddd;
}

.adminsubmsg {
  font-size: 11px;
}

.adminicon {
  float: left;
  width: 40px;
  height: 40px;
  margin: 1px 9px 0 3px;
  border-radius: 4px;
}

.adminicon {
  box-shadow: 1px 1px 2px 0 #333;
}

.admincol {
  vertical-align: top;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
}

.admincol-mobile {
  vertical-align: top;
  width: 100%;
  min-width: 354px;
}

a.admincell, div.tngmsgarea {
  color: #fff;
  padding: 8px;
  margin: 2px 3px 4px;
  display: block;
  border-radius: 4px;
}

.tngmsgarea {
  background-color: #999;
  color: #fff;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  min-height: 20px;
}

.tngmsgarea a, .tngmsgarea a:active, .tngmsgarea a:link, .tngmsgarea a:visited {
  color: #fff;
  text-decoration: none;
}

.tngmsgarea a:hover {
  color: #fc3;
}

.tngmsgarea, a.admincell {
  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
}

a.admincell:hover {
  background-color: #336399;
}

#adm-innermenu {
  margin: 0 2px 2px;
  padding: .2em 0 .3em .7em;
  clear: both;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
}

.togglehead {
  text-decoration: none;
  color: #000;
}

.togglehead img {
  top: 2px;
}

