#calHeader {
  font-size: 14pt;
}

#calHeader, #calLegend {
  font-weight: 700;
  text-align: center;
}

#calLegend {
  background-color: #d6e7ff;
  border: 1px solid #5576be;
  font-size: 9pt;
  margin-top: 8px;
  padding: 4px;
}

#calWrapper {
  width: 100%;
}

a.calDate {
  color: #000;
  float: left;
  font-size: 11pt;
  font-weight: 700;
}

a.calMore {
  line-height: 24px;
  margin-left: 16px;
}

a.calEvent, a.calMore {
  font-size: 8pt;
}

a.hidden {
  background-color: #c0c0c0;
  font-style: italic;
}

a.hidden, a.nothidden {
  padding: 2px;
}

div.calEvents {
  margin-left: 16px;
  position: relative;
  top: -14px;
}

div.calKey {
  margin: 8px;
  font-weight: 700;
}

img.calIcon {
  margin: 2px;
  position: relative;
  top: 2px;
}

table.calTip {
  background-color: #fff;
  border: 1px solid #5576be;
  padding: 0;
}

table.calendar {
  background-color: #eee;
  border: 1px solid #6687cd;
  margin: 4px 0;
}

td.calDay {
  background-color: #fff;
  border-top: 1px solid #5576be;
  border-left: 1px solid #5576be;
  border-bottom: 2px solid #5576be;
  border-right: 2px solid #5576be;
  height: 110px;
  margin: 4px;
  padding: 2px;
  text-align: left;
  vertical-align: top;
  width: 14%;
  border-radius: 4px;
}

th.calDay {
  font-size: 10pt;
  font-weight: 700;
  text-align: center;
}

td.calSkip, td.calToday {
  height: 110px;
  width: 14%;
}

td.calToday {
  background-color: #fff5e4;
  border-top: 1px solid #5576be;
  border-left: 1px solid #5576be;
  border-bottom: 2px solid #5576be;
  border-right: 2px solid #5576be;
  margin: 4px;
  padding: 2px;
  text-align: left;
  vertical-align: top;
  border-radius: 4px;
}

li.flat {
  list-style: none;
  margin: 0 8px;
}

li.flat, ul.flat {
  display: inline;
}