body {
    background-image: none;
    background-color: #fde6b8;
}

#mast {
    background-color: #933;
    background-image: -moz-linear-gradient(to bottom, #a00 0%, #700 100%);
    background-image: -webkit-linear-gradient(to bottom, #a00 0%, #700 100%);
    background-image: linear-gradient(to bottom, #a00 0%, #700 100%);
    border-top: 1px solid #d56e6e;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #a44;
    border-bottom: 1px solid #600;
    border-top: 1px solid #c66;
}