body {
    background: none;
}

#mast {
    background-color: #9f5392;
    background-image: -moz-linear-gradient(to bottom, #b366a5 0%, #8a407d 100%);
    background-image: -webkit-linear-gradient(to bottom, #b366a5 0%, #8a407d 100%);
    background-image: linear-gradient(to bottom, #b366a5 0%, #8a407d 100%);
    border-top: 1px solid #ca81be;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #c6e2c0;
    border-bottom: 1px solid #6d9663;
    border-top: 1px solid #eefaec;
    text-shadow: #fff 1px 1px 1px;
    color: #000;
}