.overflowauto {
  width: 94vw;
}

.header, .theader {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #654;
  text-align: left;
}

.theader {
  padding: 0;
}

body {
  background-color: #faf4e6;
  color: #654;
}

a:link, a:visited, div.icons a {
  color: #4e7076;
}

a:active, a:hover {
  color: #6cabae;
}

.fieldname {
  background-color: #68939b;
  text-align: left;
}

.databack {
  background-color: #fdfaf2;
}

.databackalt {
  background-color: #eed;
}

a.lightlink2:active, a.lightlink2:hover, a.lightlink:active, a.lightlink:hover {
  color: #cce2e3;
  text-decoration: none;
}

.lightback {
  background-color: #faf4e6;
}

.sideback {
  background-color: #4e7076;
}

.bar, .fieldnameback, .LB_closeAjaxWindow, .tablesaw-cell-label {
  background-color: #68939b;
}

a.admincell:hover {
  background-color: #4e7076;
}

a.leftlink:hover {
  background-color: #68939b;
}

a.lightlink3:active, a.lightlink3:hover, a.lightlink3:link, a.lightlink3:visited {
  color: #ecd9cc;
}

.banner {
  margin-top: 0;
  font-size: 30px;
  width: 585px;
}

.banner, .mmaintitle {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #654;
}

.line {
  color: #600;
}

.row-5 {
  border-collapse: collapse;
  border: 1px #000;
  height: 5px;
}

.row30, .row-5 {
  background-color: #4e7076;
}

.row30 {
  border-collapse: collapse;
  border-color: #000;
  height: 30px;
}

.sitename {
  background-color: #4e7076;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.topmenu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 5px;
  text-align: left;
}

.topmenu, a.topmenu:link, a.topmenu:visited {
  color: #fff;
  text-decoration: none;
}

a.topmenu:active, a.topmenu:hover {
  text-decoration: none;
  color: #cce2e3;
}

.maintable {
  background-color: #faf4e6;
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.tableheader {
  background-color: #4e7076;
  background-image: url(../img/blueleaves.gif);
  border-collapse: collapse;
  border: 1px #111;
  width: 885px;
  height: 25px;
}

.tablesubheader {
  background-color: #654;
  width: 885px;
  height: 15px;
}

.imagesection, .tablesubheader {
  border-collapse: collapse;
  border-color: #111;
}

.imagesection {
  background-image: url(../img/blueleaves.gif);
  width: 150px;
  padding: 0;
}

.spacercol {
  background-color: #654;
  width: 12px;
  padding: 0;
}

.indexheader {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #654;
  font-size: 30px;
  text-align: right;
  padding: 10px 10px 5px 0;
}

.indexphoto {
  border: 1px solid #111;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

}

.indexbox {
  background-color: #4e7076;
  border-collapse: collapse;
  border-color: #111;
  margin-right: 10px;
  margin-left: 120px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px 10px;
  float: right;
  width: 160px;
}

.searchbox {
  width: 140px;
}

.boxback {
  background-color: #4e7076;
  color: #fff;
  font-size: 12px;
  text-align: right;
  margin-right: 5px;

}

.padding {
  padding: 8px;
}

a.footer:hover {
  color: #4e7076;
}

.smallphoto {
  margin: 2px 30px;
  border: 1px solid #000;
  vertical-align: middle;
}

.small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.content {
  background-color: #faf4e6;
  vertical-align: top;
  border-collapse: collapse;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

.innertable {
  border-collapse: collapse;
  border-color: #111;
  border: none;
}

#tabs a, #tngnav a {
  color: #ddd;
}

#tngnav a.here {
  color: #fff;
}

.leftcontent {
  width: 55%;
  margin-left: 30px;
  float: left;
  padding-bottom: 30px;
}

.rightcontent {
  text-align: right;
  margin-right: 10px;
  padding: 5px 10px;
}

.row12 {
  border-collapse: collapse;
  border: 1px solid #000;
  background-color: #4e7076;
  height: 12px;
}

.snlink {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fdfaf2;
  color: #000;
}

.adminnav .snlinkact, .snlinkact, a.snlink:hover {
  background-color: #68939b;
  color: #fff;
}

.LB_window {
  background: #fdfaf2;
  border: 2px solid #000;
  color: #000;
}

.plainheader {
  color: #4e7076;
}

div.innercontainer {
  border-bottom: 1px solid #999;
}

ul.tngdd {
  background-color: #faf4e6;
}

ul.tngdd a {
  color: #4e7076;
}

.slidedown, ul.tngdd ul li a {
  background-color: #eee;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
  background: #b4d1d6 url(../img/ArrowDown.gif) 2px 8px no-repeat;
  background-image: url(../img/ArrowDown.gif), linear-gradient(0deg, #cbe9ed, #9bb9bd);
  background-position: 2px 8px, 0 0;
  background-repeat: no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #999;
  border-right-color: #999;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  background: #654 url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #b4d1d6;
  background-image: linear-gradient(0deg, #cbe9ed, #9bb9bd);
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

.fambackground {
  background-color: #9bb9bd;
}

@media (max-width: 980px) {
  .maintable {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .imagesection, .spacercol {
    display: none;
  }

  .indexheader {
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
  }

  table.innertable div.header, table.innertable div.normal {
    margin-left: 5px;
    margin-right: 5px;
  }

  .leftcontent {
    margin-left: 5px;
    width: 100%;
  }

  .rightcontent {
    text-align: left;
  }

  #searchbox {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  #menubar {
    text-align: left;
  }
}

@media (max-width: 500px) {
  #menubar {
    display: none;
  }
}

@import "tngtabs2";
@import "mytngstyle";
