#art-main {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.art-postcontent p {
  margin: 12px 0;
}

.art-postcontent, .home-menus a {
  text-decoration: none;
}

.home-menus a:hover {
  text-decoration: underline;
}

.art-postcontent a:link {
  text-decoration: none;
}

.art-blockcontent h1 {
  margin: 20px 0;
  font-weight: 400;
  text-transform: uppercase;
}

html {
  height: 100%;
}

#art-main {
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: visible;
}

body {
  color: #000;
  background-color: #ece4eb;
  background-image: url(../img/Bottom_texture.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 0;
}

.cleared {
  display: block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height: 0;
  overflow: hidden;
}

.reset-box {
  overflow: hidden;
  display: table;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

table.position {
  position: relative;
  width: 100%;
  table-layout: fixed;
}

.art-hmenu a, .art-hmenu a:hover, .art-hmenu a:link, .art-hmenu a:visited {
  outline: none;
}

.art-hmenu, .art-hmenu ul {
  list-style-type: none;
}

.art-hmenu, .art-hmenu li, .art-hmenu ul {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.art-hmenu li {
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-hmenu li:hover {
  z-index: 10000;
  white-space: normal;
}

.art-hmenu li li {
  float: none;
}

.art-hmenu ul {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  min-height: 0;
  background: url(../img/spacer.gif);
  padding: 10px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-hmenu li:hover > ul {
  visibility: visible;
  top: 100%;
}

.art-hmenu li li:hover > ul {
  top: 0;
  left: 100%;
}

.art-hmenu:after, .art-hmenu ul:after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

.art-hmenu {
  min-height: 0;
  position: relative;
  padding: 0;
}

.art-hmenu ul ul {
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

.art-nav {
  min-width: 700px;
  position: relative;
  width: 92%;
  min-height: 31px;
  z-index: 2;
  margin: 30px auto 0;
}

.art-nav-outer {
  position: absolute;
  width: 100%;
}

.art-nav-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.art-nav-inner {
  margin: 0;
  background-image: url(../img/nav.png);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px #666;
}

.art-hmenu a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 31px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.art-hmenu ul li {
  margin: 0;
  clear: both;
}

.art-hmenu a .l, .art-hmenu a .r {
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 103px;
}

.art-hmenu a .l {
  left: 0;
  right: 0;
}

.art-hmenu a .r {
  width: 400px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.art-hmenu a .t, .art-hmenu a:hover, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu ul a {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.art-hmenu a .t {
  color: #9f5392;
  padding: 0 22px;
  margin: 0;
  line-height: 31px;
  text-align: center;
}

.art-hmenu a:hover .l, .art-hmenu a:hover .r, .art-hmenu li:hover > a .l, .art-hmenu li:hover > a .r, .art-hmenu li:hover a .l, .art-hmenu li:hover a .r {
  top: -36px;
}

.art-hmenu a:hover .t, .art-hmenu li:hover > a .t, .art-hmenu li:hover a .t {
  color: #fff;
}

.art-hmenu .art-hmenu-li-separator {
  display: block;
  width: 0;
  height: 31px;
}

.art-sheet {
  position: relative;
  min-height: 1px;
  margin: 10px auto 0;
  cursor: auto;
  width: 92%;
  min-width: 700px;
}

.art-sheet-body {
  position: relative;
  padding: 0;
  margin-bottom: 30px;
}

.art-sheet-cc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px #666;
}

#art-page-background-glare, #art-page-background-middle-texture, #art-page-background-top-texture {
  min-width: 90%;
}

.art-content-layout {
  display: table;
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding: 0 !important;
  width: 100%;
  margin: 0 auto;
}

.art-content-layout-row, .art-layout-cell {
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin: 0;
  padding: 0;
}

.art-content-layout .art-content-layout {
  margin: 0;
}

.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {
  display: table-cell;
}

.art-layout-cell .art-layout-cell {
  display: block;
}

.art-content-layout-row {
  display: table-row;
}

.art-block, .art-layout-glare {
  position: relative;
}

.art-block {
  min-width: 1px;
  min-height: 1px;
  margin: 20px;
}

.art-block-body {
  position: relative;
  padding: 0;
}

div.art-block img {
  border-width: 1px;
  border-style: solid;
  margin: 5px;
}

.art-blockheader {
  margin-bottom: 0;
  position: relative;
  height: 35px;
}

.art-blockheader h3.t {
  position: relative;
  height: 42px;
  margin: 0;
  padding: 0 10px 0 5px;
  white-space: nowrap;
  line-height: 42px;
}

.art-blockheader h3.t, .art-blockheader h3.t a, .art-blockheader h3.t a:hover, .art-blockheader h3.t a:link, .art-blockheader h3.t a:visited {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 22px;
}

.art-blockcontent {
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body {
  position: relative;
  padding: 3px;
}

.art-blockcontent-body p {
  margin: 6px 0;
}

.art-blockcontent-body ul li, .fancy_list li {
  line-height: 125%;
  padding: 0 0 5px 20px;
  background-image: url(../img/bullet.jpg);
  background-repeat: no-repeat;
  letter-spacing: 1px;
  font-weight: 700;
}

.art-post {
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 0;
}

.art-post-body {
  position: relative;
  padding: 20px;
}

.art-footer {
  position: relative;
  margin-top: -20px;
  width: 100%;
}

.art-footer-body {
  position: relative;
  padding: 20px;
}

.art-footer-text p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.art-footer-text a, .art-footer-text a:link {
  text-decoration: none;
}

.art-content-layout .art-sidebar1 {
  width: 200px;
  padding-left: 10px;
}

.header, .plainheader, .subhead {
  color: #555;
}

a:active, a:link, div.icons a {
  color: #9f5392;
}

.bar, .fieldnameback, .LB_closeAjaxWindow, .page, .tablesaw-cell-label {
  background-color: #9f5392;
}

a.admincell:hover, a.leftlink:hover {
  background-color: #4c9b59;
}

.admincell, .sideback {
  background-color: #9f5392;
  background-image: none;
}

.snlink {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #e2d8e0;
  color: #000;
}

.adminnav .snlinkact, .snlinkact, a.snlink:hover {
  background-color: #9f5392;
  color: #fff;
}

.LB_window {
  background: #e2d8e0;
  border: 2px solid #000;
  color: #000;
}

div.innercontainer {
  border-bottom: 1px solid #999;
}

ul.tngdd {
  background-color: #fff;
}

ul.tngdd a {
  color: #9f5392;
}

.slidedown, ul.tngdd ul li a {
  background-color: #e3f4df;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
    background: #e2d8e0 url(../img/ArrowDown.gif) 2px 8px no-repeat;
    background-image: url(../img/ArrowDown.gif), linear-gradient(0deg, #faf0f8, #cac0c8);
    background-position: 2px 8px, 0 0;
    background-repeat: no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #999;
  border-right-color: #999;
  border-top-color: #e2d8e0;
  border-left-color: #e2d8e0;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  background: #9f5392 url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #e2d8e0;
  background-image: linear-gradient(0deg, #faf0f8, #cac0c8);
}

.databack {
  background-color: #e2d8e0;
}

.databackalt {
  background-color: #cdbcc9;
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

ul.fancy_list, ul.home-menus {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.emailimg {
  width: 40px;
  height: 26px;
  margin: 0 8px 0 0;
  float: left;
  border: 0;
}

table.calendar, td.calDay, td.calToday {
  border-color: #9f5392;
}

h2.site-head, h2.site-head a {
  font-size: 20pt;
  padding: 0 0 0 3px;
  margin: 0 0 15px;
  text-decoration: none;
}

.mmaintitle, h2.site-head, h2.site-head a {
    color: #9f5392;
    font-family: Georgia, Times New Roman, Times, serif;
}

.greentree {
  float: left;
  padding-right: 10px;
  padding-top: 3px;
  border: 0;
}

.big-header {
    color: #9f5392;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 55px;
    text-align: center;
    padding-top: 10px;
}

.dotted-line {
  width: 100%;
  border-top: 1px dashed #9f5392;
  margin: 0 0 0 -10px;
}

.linkcol {
  display: block;
  float: left;
  width: 33%;
}

#linkarea {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  column-count: 4;
}

.emphasis a:link, .emphasis a:visited {
  text-decoration: underline;
}

.left-indent {
  padding-left: 20px;
}

#search-submit {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fambackground {
  background-color: #e2d8e0;
}

@media (max-width: 900px) {
  #mainphoto {
    width: 100%;
  }
}

@media (max-width: 740px) {
  .art-nav, .art-sheet {
    min-width: 0;
    margin: 0;
    width: 95%;
  }
  .art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {
    display: block;
  }
  .art-sheet-cc {
    border: none;
    box-shadow: none;
  }
  #tsearchbox {
    box-shadow: none;
    width: 90%;
  }
}

@media (max-width: 500px) {
  #linkarea, .dotted-line, .greenvine {
    display: none;
  }
  .art-block {
    float: none;
    margin-left: 0;
  }
  .big-header {
    font-size: 24pt;
  }
  h2.site-head {
    padding-left: 0;
    font-size: 18pt;
  }
  .art-sheet {
    margin: 0;
  }
  .left-indent {
    padding-left: 0;
  }
  .art-post-body {
    padding: 10px 0;
  }
  #tsearchbox input[type=text] {
    margin: 5px;
  }
  .art-sheet-body {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=templatestyle.css.map */
