.overflowauto {
  width: 98vw;
}

@media only screen and (min-width: 1200px) and (max-width: 1550px) {
  .overflowauto {
    width: 97.9vw;
  }
}

@media only screen and (max-width: 1280px) {
  .overflowauto {
    width: 97.5vw;
  }
}

@media only screen and (max-width: 1024px) {
  .overflowauto {
    width: 97vw;
  }
}

@media only screen and (max-width: 768px) {
  .overflowauto {
    width: 95vw;
  }
}

.header, .plainheader {
  color: #39692a;
}

body {
  background-color: #faf4e6;
}

a:active, a:link, div.icons a {
  color: #39692a;
}

a:visited {
  color: #46ab28;
}

.sideback {
  background-color: #28541b;
}

a.admincell:hover, a.leftlink:hover {
  background-color: #46ab28;
}

.bar, .fieldnameback, .LB_closeAjaxWindow, .sideback {
    background-color: #39692a;
}

.line {
  color: #600;
}

.left-indent {
  padding-left: 20px;
}

.newspaper2 {
  column-count: 2;
  padding-top: 15px;
}

.newspaper2 p {
  margin: 0 0 10px;
  padding: 0;
}

.t3hdr {
  background-color: #d0bc91;
  width: 186px;
}

.t3shadow {
  box-shadow: 1px 1px 2px 1px #666;
}

.topmenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.topmenu, a.topmenu:link, a.topmenu:visited {
  color: #39692a;
  text-decoration: none;
}

a.topmenu:active, a.topmenu:hover {
  text-decoration: none;
}

a.topmenu:hover {
  color: #000;
}

.tableborder {
  background-color: #d0bc91;
  border-collapse: collapse;
  border-color: #000;
  margin-bottom: 15px;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.homebody {
  background-color: #d0bc91;
}

.mainmenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #39692a;
    text-decoration: none;
    text-align: center;
}

.indexpage {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: left;
}

.titleimg {
  margin: 0 10px;
  border: 0;
}

.headerphoto, .mainimg, .menutitle {
  margin: 0;
  border: 0;
}

.menutitle {
  width: 565px;
  height: 86px;
}

.snlink {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #d0bc91;
  color: #000;
}

.adminnav .snlinkact, .snlinkact, a.snlink:hover {
  background-color: #39692a;
  color: #fff;
}

.LB_window {
  background: #d0bc91;
  border: 2px solid #000;
  color: #000;
}

div.innercontainer {
  border-bottom: 1px solid #999;
}

ul.tngdd {
  background-color: #faf4e6;
}

ul.tngdd a {
  color: #39692a;
}

.slidedown, ul.tngdd ul li a {
  background-color: #ded;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
    background: #d0bc91 url(../img/ArrowDown.gif) 2px 8px no-repeat;
    background-image: url(../img/ArrowDown.gif), linear-gradient(0deg, #e8d5a9, #b8a579);
    background-position: 2px 8px, 0 0;
    background-repeat: no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #999;
  border-right-color: #999;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  background: #39692a url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #d0bc91;
  background-image: linear-gradient(0deg, #e8d5a9, #b8a579);
}

.databack {
  background-color: #d0bc91;
}

.databackalt {
  background-color: #dfd1b4;
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

.maintitle {
  font-size: 68px;
}

.maintitle, .mmaintitle {
    font-family: Georgia, Arial, sans-serif;
    color: #39692a;
}

.mmaintitle {
  font-style: italic;
}

.mainimg {
  max-height: 303px;
  float: left;
  padding-right: 20px;
}

.toptitle {
    font-size: 48px;
    font-family: Georgia, Arial, sans-serif;
    color: #39692a;
}

#searchpane {
  float: right;
}

.fambackground {
  background-color: #d0bc91;
}

@media (max-width: 730px) {
  #searchpane {
    float: left;
    width: 100%;
  }
}

@media (max-width: 530px) {
    .maintitle {
        font-size: 30px;
    }

    .mainimg {
        width: 100%;
    }
}

@import "tngtabs2.css";
@import "mytngstyle.css";
