.overflowauto {
  width: 87vw;
}

@media only screen and (min-width: 1200px) and (max-width: 1550px) {
  .overflowauto {
    width: 84vw;
  }
}

@media only screen and (max-width: 1280px) {
  .overflowauto {
    width: 80vw;
  }
}

@media only screen and (max-width: 1024px) {
  .overflowauto {
    width: 78vw;
  }
}

@media only screen and (max-width: 768px) {
  .overflowauto {
    width: 67vw;
  }
}

.normal {
  color: #666;
}

.fieldname, .normal {
    font-family: Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
    font-weight: 700;
}

.fieldname {
  color: #f2f2e9;
}

.header {
  font-size: 24px;
  color: #b9b186;
  font-weight: 700;
}

.header, body {
    font-family: Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
}

body {
  background-color: #edead9;
  color: #666;
}

a:active, a:link, div.icons a {
    color: #ff8212;
    font-family: Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
}

.databack, .fieldnameback {
  border-right: 1px solid #f2f2e9;
  border-bottom: 1px solid #f2f2e9;
}

.fbar-fixed, .ibar-fixed, .tbar-fixed {
  top: 131px;
}

table.mmlist-fixed {
  margin-top: 168px;
}

table.m2table-fixed {
  margin-top: 131px;
}

table.m3table-fixed {
  margin-top: 171px;
}

table.mmlog-fixed {
  margin-top: 162px;
}

.databackalt {
  background-color: #eed;
  border-right: 1px solid #f2f2e9;
  border-bottom: 1px solid #f2f2e9;
}

table.mmlist-fixed {
  margin-top: 162px;
}

table.m2table-fixed {
  margin-top: 134px;
}

.mmlog-fixed {
  margin-top: 163px;
}

a.lightlink:link, a.lightlink:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    vertical-align: middle;
}

a.lightlink:active, a.lightlink:hover, a.lightlink:link, a.lightlink:visited {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

a.lightlink:active, a.lightlink:hover {
  background-color: #fc3;
}

.bar, .fieldnameback, .LB_closeAjaxWindow, .sideback {
    background-color: #b9b186;
}

a.admincell:hover, a.leftlink:hover {
  background-color: #666;
}

a.lightlink3:active, a.lightlink3:hover, a.lightlink3:link, a.lightlink3:visited {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

#mnav a, #mnav li {
    font-family: Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
}

#mnav li {
  background: #f2f2e9;
  border-color: #cc9 #777 #777 #cc9;
  border-style: solid;
  border-width: 1px;
}

#mnav li ul li {
  background: #eec;
}

.line {
  color: #996;
  margin-top: 0;
  background-image: url(../img/khaki.gif);
  height: 1px;
}

.page {
  background-color: #fff;
}

.tableborder {
  background-color: #faf4e6;
  border-collapse: collapse;
  border-color: #000;
}

.searchbox {
  border-style: solid;
  border-width: 1px;
}

.tableheader {
  background-color: #fff;
  background-image: url(../img/border.jpg);
  vertical-align: top;
  width: 73px;
}

#headertable, .bodytable {
  width: 100%;
  border: none;
}

#headertable {
  background-color: #fff;
}

a.footer:hover {
  color: #ff8212;
}

.headertitle {
  height: 108px;
}

.row {
  height: 81px;
}

.strip {
  color: #996;
  margin-top: 0;
  background-image: url(../img/khaki.gif);
  height: 27px;
  text-align: right;
}

.logo {
  vertical-align: middle;
  width: 30%;
}

.logo, .news {
  text-align: left;
}

.news {
  background-color: #fff;
  width: 70%;
  padding: 5px;
}

.news, .section {
  vertical-align: top;
}

.section {
  width: 210px;
}

.menuback {
  background-color: #f2f2e9;
  border-right: 0;
  border-bottom: 0;
  width: 120px;
}

#tabs a, #tngnav a {
  color: #444;
}

.spacercol {
  width: 10px;
}

.main {
  width: 683px;
}

.maincontent, .rightcontent {
  vertical-align: top;
}

.rightcontent {
  width: 280px;
}

.bigphoto {
  width: 300px;
  height: 172px;
  border: 0;
}

.middlecol {
  width: 103px;
}

.snlink {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #f2f2e9;
  color: #000;
}

.adminnav .snlinkact, .snlinkact, a.snlink:hover {
  background-color: #b9b186;
  color: #fff;
}

.LB_window {
  background: #f2f2e9;
  border: 2px solid #000;
  color: #000;
}

.plainheader {
  color: #663;
}

div.innercontainer {
  border-bottom: 1px solid #bbb;
}

ul.tngdd {
  background-color: #fff;
}

ul.tngdd a {
  color: #ff8212;
  font-weight: 700;
}

.slidedown, ul.tngdd ul li a {
  background-color: #f2f2e9;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
  background: #f2f2e9 url(../img/ArrowDown.gif) 2px 8px no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #bbb;
  border-right-color: #bbb;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  color: #fff;
  background: #b9b186 url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

.databack, div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #f2f2e9;
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

.whitetext {
  text-shadow: none;
  filter: none;
}

#maintitle {
  font-size: 30px;
  line-height: 30px;
}

#maintitle, .mmaintitle {
    font-family: Verdana, Arial, sans-serif;
}

.mmaintitle {
  color: #666;
  font-style: italic;
}

.adminsubmsg {
  color: #fff;
}

.fambackground {
  background-color: #b9b186;
}

@media (max-width: 700px) {
  .section {
    display: none;
  }
}

@media (max-width: 520px) {
  .middlecol, .rightcontent {
    display: none;
  }

  #maintitle {
    font-size: 20px;
    line-height: 20px;
  }

    .strip {
    text-align: left;
    }

    .logo, .maincontent, .news, .rightcontent {
        display: inline-block;
    }

    .logo {
        width: 100%;
    }
}

@import "tngtabs2";
@import "mytngstyle.css";
