@import url("https://fonts.googleapis.com/css?family=Rochester");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
#thomebody h2, #tmenu, #tsidebar h3, h1 {
    font-family: Quicksand, sans-serif;
}

#thomemast h1, #tmast h1 {
    font-family: Rochester, cursive;
    margin: 0;
}

#thomebody h2, #thomemast h1, #tmast h1, #tsidebar h3, .header, .plainheader, a:active, a:link, div.icons a, ul.tngdd a {
  color: #5e8db5;
}

.adminnav .snlinkact, .bar, .fieldnameback, .LB_closeAjaxWindow, .sideback, .snlinkact, .tablesaw-cell-label, a.snlink:hover {
  background-color: #5e8db5;
}

.databack, .LB_window, .snlink, div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #ddd4c7;
}

body {
  background-color: #c5bcaf;
  color: #444;
}

#tpage {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  margin-top: 30px;
}

.theader {
  text-align: center;
}

.mast {
  padding-top: 10px;
}

label.formfield {
  color: #777;
}

a:visited {
  color: #366;
}

#thomemast h1 {
  font-size: 42pt;
}

#tmast h1 {
  font-size: 36pt;
}

#tsidebar {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  width: 20%;
}

#thomebody {
  display: inline-block;
  width: 75%;
}

#thomebody h2 {
  font-size: 18pt;
}

#tsidebar h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14pt;
}

.tsidesection {
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#tmenu {
  margin: 15px 0 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #eee;
}

#tmenu ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#tmenu ul li {
  float: left;
  line-height: .5em;
  font-size: 12pt;
}

#tmenu ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tblock {
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 1px #bbb;
}

.tblock h2 {
  margin-top: 0;
}

.tablediv {
  display: table-cell;
  width: 49%;
  font-size: 12pt;
}

.inner-block {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px #ccc;
}

#big-block-1 img {
  border-radius: 5px;
  box-shadow: 2px 2px 6px 1px #bbb;
}

.surnames-cloud, .surnames-cloud a {
  text-align: left;
}

a.size1, a.size1:link, a.size1:visited {
  color: #009;
}

a.size2, a.size2:link, a.size2:visited {
  color: #33c;
}

a.size3, a.size3:link, a.size3:visited {
  color: #063;
}

a.size4, a.size4:link, a.size4:visited {
  color: #930;
}

a.size5, a.size5:link, a.size5:visited {
  color: #c03;
}

a.size6, a.size6:link, a.size6:visited {
  color: #666;
}

a.size7, a.size7:link, a.size7:visited {
  color: #c90;
}

a.size8, a.size8:link, a.size8:visited {
  color: #993;
}

a.size0, a.size0:link, a.size0:visited, a.size9, a.size9:link, a.size9:visited {
  color: #000;
}

.emailimg {
  width: 40px;
  height: 26px;
  margin: 0 8px 0 0;
  float: left;
  border: 0;
}

.vmenu {
  list-style-type: none;
  padding: 0;
}

.vmenu li {
    padding: 0 0 8px 4px;
    font-size: 13pt;
    font-family: Quicksand, sans-serif;
}

.mainsection p {
  margin: 0 0 10px;
  padding: 0;
  font-size: 12pt;
  line-height: 1.5em;
}

.indexpage {
  text-align: left;
}

.LB_window {
  border: 2px solid #000;
  color: #000;
}

.titlebox {
  background-color: #f6f6f6;
}

div.innercontainer {
  border-bottom: 1px solid #999;
}

ul.tngdd {
  background-color: #fff;
}

.slidedown, ul.tngdd ul li a {
  background-color: #eee;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
  background: #ddd4c7 url(../img/ArrowDown.gif) 2px 8px no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #999;
  border-right-color: #999;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  background: #5e8db5 url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

.databackalt {
  background-color: #d9d9d9;
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

#search-submit {
  margin-top: 5px;
  margin-bottom: 5px;
}

#mainphoto {
  margin: 0 15px;
  float: right;
}

#mainphoto img {
  max-width: 400px;
}

@media (max-width: 550px) {
  .std-only {
    display: none;
  }
  #thomemast h1 {
    font-size: 24pt;
    line-height: 24pt;
  }
  #mainphoto {
    margin: 0 0 15px;
    float: none;
  }
  #mainphoto img {
    width: 100%;
  }
  #tpage {
    width: 90%;
  }
  .mainsection p {
    font-size: 11pt;
    line-height: 1.3em;
  }
  .tablediv {
    width: 92%;
  }
  .tblock {
    padding: 13px;
  }
}

@media (max-width: 870px) {
  .tablediv {
    display: block;
    width: 92%;
    font-size: 11pt;
  }
  #tsidebar {
    display: none;
  }
  #thomebody {
    width: 100%;
  }
}

/*# sourceMappingURL=templatestyle.css.map */
