#mast {
    background-color: #39692a;
    background-image: -moz-linear-gradient(to bottom, #5e8b50 0%, #2e5c1f 100%);
    background-image: -webkit-linear-gradient(to bottom, #5e8b50 0%, #2e5c1f 100%);
    background-image: linear-gradient(to bottom, #5e8b50 0%, #2e5c1f 100%);
    border-top: 1px solid #74a066;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #a88f57;
    border-bottom: 1px solid #584720;
    border-top: 1px solid #dbc48f;
    text-shadow: black 1px 1px 0;
}