.overflowauto {
  width: 98vw;
}

@media only screen and (min-width: 1200px) and (max-width: 1550px) {
  .overflowauto {
    width: 97.5vw;
  }
}

@media only screen and (max-width: 1280px) {
  .overflowauto {
    width: 97vw;
  }
}

@media only screen and (max-width: 1024px) {
  .overflowauto {
    width: 96vw;
  }
}

@media only screen and (max-width: 768px) {
  .overflowauto {
    width: 95vw;
  }
}

.header, .plainheader {
  color: #676037;
}

.bodytopmenu {
  background-color: #676037;
  margin: 0;
}

a:active, a:link, div.icons a {
  color: #676037;
}

a:visited {
  color: #8b8776;
}

a.admincell:hover, a.leftlink:hover {
  background-color: #c3b165;
}

.bar, .fieldnameback, .LB_closeAjaxWindow, .page, .sideback, .tablesaw-cell-label {
  background-color: #676037;
}

.topmenu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.topmenu, a.topmenu:link, a.topmenu:visited {
  color: #fff;
  text-decoration: none;
}

a.topmenu:hover {
  color: #fc3;
}

a.topmenu:Active, a.topmenu:hover {
  text-decoration: none;
}

.tabletopedge {
  background-image: url(../img/edge.gif);
  border: 0;
  border-bottom-color: #fff;
}

.tablebottomedge, .tabletopedge {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100%;
  height: 15px;
}

.tablebottomedge {
  background-image: url(../img/edge-bottom.gif);
  border: 0;
}

.tablebkground {
  background-color: #fff;
}

.noimgborder {
  border: 0;
}

.sidelink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #676037;
}

.sidelink:Hover {
  text-decoration: underline;
  color: #690;
}

.sidesmall {
  color: #fff;
}

.sidesmall, .sidesmalllink, .small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.sidesmalllink {
  color: #fff;
}

.bodyindex {
  background-image: url(../img/burlap.jpg);
  margin: 10px auto 0;
  width: 100%;
  height: 100%;
}

.footer {
  color: #fff;
  font-size: 11px;
  text-align: center;
}

a.footer:link, a.footer:visited {
  text-decoration: underline;
  color: #fff;
}

a.footer:hover {
  text-decoration: underline;
  color: #fc3;
}

.indexsubmit {
  width: 74px;
  height: 76px;
}

.indexsubmit, .menusubmit {
  margin-top: 0;
  margin-left: 0;
}

.menusubmit {
  float: right;
  width: 55px;
  height: 54px;
}

.indexsearch {
  width: 100px;
  height: 38px;
}

.indexsearch, .menusearch {
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menusearch {
  width: 67px;
  height: 24px;
}

.headerimg {
  margin: 5px 0;
  border: 0;
}

.indexpage {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.snlink {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #ffe9a9;
  color: #000;
}

.adminnav .snlinkact, .snlinkact, a.snlink:hover {
  background-color: #676037;
  color: #fff;
}

.LB_window {
  background: #ffe9a9;
  border: 2px solid #000;
  color: #000;
}

div.innercontainer {
  border-bottom: 1px solid #bbb;
}

ul.tngdd {
  background-color: #fff;
}

ul.tngdd a {
  color: #444;
}

.slidedown, ul.tngdd ul li a {
  background-color: #eec;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
  background: #ffe9a9 url(../img/ArrowDown.gif) 2px 8px no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #bbb;
  border-right-color: #bbb;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  color: #fff;
  background: #676037 url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

.databack, div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #ffe9a9;
}

.databackalt {
  background-color: #fff6db;
}

tr.modline:hover td.mmcell:nth-child(-n+5) {
  background-color: #ff0;
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

.maintitle {
  font-size: 48px;
  font-family: Georgia, Arial, sans-serif;
  color: #676037;
}

.mmaintitle, .smalltitle {
  font-family: Georgia, Arial, sans-serif;
  font-style: italic;
}

.smalltitle {
  font-size: 28px;
  color: #676037;
}

.headertitle {
  font-size: 24px;
  font-family: Georgia, Arial, sans-serif;
  color: #ffe9a9;
  font-style: italic;
}

a.smalltitle:hover {
  color: #008000;
}

a.toptitle {
  text-decoration: none;
}

em.toptitle {
  font-size: 30px;
  font-family: Georgia, Arial, sans-serif;
  color: #ffe9a9;
}

.mainlink {
  padding-left: 20px;
  text-decoration: none;
}

#titlecontainer {
  padding: 10px 10px 20px;
}

#searchblock {
  padding: 0 0 10px 10px;
}

#searchtitleblock {
  float: left;
  text-align: center;
  padding-right: 10px;
  padding-top: 8px;
}

#searchformblock {
  padding: 10px 10px 0 0;
  float: left;
}

#searcharrowblock {
  padding-top: 15px;
}

.fambackground {
  background-color: #ffe9a9;
}

@media (max-width: 400px) {
  #linktable {
    display: none;
  }

  .maintitle {
    font-size: 30px;
  }

  #mainphoto {
    width: 100%;
  }
}