body {
  background: #b3b3b3;
}

#mast {
  background-color: #073d3c;
  background-image: linear-gradient(180deg, #135c5a 0, #04302f);
  border-top: 1px solid #217574;
}

.mhead ul li {
  color: #fff;
}

.mhead li a {
  background-color: #9fc1c7;
  border-bottom: 1px solid #4a6d74;
  border-top: 1px solid #cfdfe2;
  text-shadow: #fff 1px 1px 1px;
  color: #000;
}