ul.cb-hmenu {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cb-postcontent, ul.cb-hmenu {
  text-align: left;
}

.cb-postcontent, .cb-postcontent a, .cb-postcontent a.hovered, .cb-postcontent a.visited, .cb-postcontent a:hover, .cb-postcontent a:link, .cb-postcontent a:visited, .cb-postcontent li, .cb-postcontent table {
    font-family: Arial, Helvetica, sans-serif;
}

.cb-postcontent p {
  margin: 12px 0;
}

.cb-headline, .cb-headline a, .cb-headline a:hover, .cb-headline a:link, .cb-headline a:visited, .cb-postcontent h1, .cb-postcontent h1 a, .cb-postcontent h1 a:hover, .cb-postcontent h1 a:link, .cb-postcontent h1 a:visited, .cb-postcontent h2, .cb-postcontent h2 a, .cb-postcontent h2 a:hover, .cb-postcontent h2 a:link, .cb-postcontent h2 a:visited, .cb-postcontent h3, .cb-postcontent h3 a, .cb-postcontent h3 a:hover, .cb-postcontent h3 a:link, .cb-postcontent h3 a:visited, .cb-postcontent h4, .cb-postcontent h4 a, .cb-postcontent h4 a:hover, .cb-postcontent h4 a:link, .cb-postcontent h4 a:visited, .cb-postcontent h5, .cb-postcontent h5 a, .cb-postcontent h5 a:hover, .cb-postcontent h5 a:link, .cb-postcontent h5 a:visited, .cb-postcontent h6, .cb-postcontent h6 a, .cb-postcontent h6 a:hover, .cb-postcontent h6 a:link, .cb-postcontent h6 a:visited, .cb-slogan, .cb-slogan a, .cb-slogan a:hover, .cb-slogan a:link, .cb-slogan a:visited {
    font-size: 36px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    line-height: 120%;
}

.mmaintitle {
    font-size: 1.5em;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    font-variant: small-caps;
}

.cb-postcontent a, .cb-postcontent a.visited, .cb-postcontent a:link, .cb-postcontent a:visited {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #655543;
}

.cb-postcontent a.hover, .cb-postcontent a:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: #655543;
    text-decoration: underline;
}

.cb-postcontent h1 {
  color: #1f1a14;
  margin: 10px 0 0;
}

.cb-postcontent h1, .cb-postcontent h1 a, .cb-postcontent h1 a:hover, .cb-postcontent h1 a:link, .cb-postcontent h1 a:visited {
    font-size: 31px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    font-variant: small-caps;
    text-align: center;
}

.cb-postcontent h2 {
  color: #1f1a14;
  margin: 10px 0 0;
}

.cb-postcontent h2, .cb-postcontent h2 a, .cb-postcontent h2 a:hover, .cb-postcontent h2 a:link, .cb-postcontent h2 a:visited {
    font-size: 26px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    font-variant: small-caps;
    text-align: center;
}

.cb-postcontent h3 {
    color: #1f1a14;
    margin: 10px 0 0;
    font-size: 26px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    text-align: left;
}

.cb-postcontent h3 a, .cb-postcontent h3 a:hover, .cb-postcontent h3 a:link, .cb-postcontent h3 a:visited {
    font-size: 26px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    text-align: center;
}

.cb-postcontent h4 {
  color: #1f1a14;
  margin: 10px 0 0;
}

.cb-postcontent h4, .cb-postcontent h4 a, .cb-postcontent h4 a:hover, .cb-postcontent h4 a:link, .cb-postcontent h4 a:visited {
    font-size: 24px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    text-align: left;
}

.cb-postcontent h5 {
  color: #1f1a14;
  margin: 10px 0 0;
}

.cb-postcontent h5, .cb-postcontent h5 a, .cb-postcontent h5 a:hover, .cb-postcontent h5 a:link, .cb-postcontent h5 a:visited {
    font-size: 22px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    text-align: left;
}

.cb-postcontent h6 {
  color: #1f1a14;
  margin: 10px 0 0;
}

.cb-postcontent h6, .cb-postcontent h6 a, .cb-postcontent h6 a:hover, .cb-postcontent h6 a:link, .cb-postcontent h6 a:visited {
    font-size: 19px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    text-align: left;
}

.cb-hmenu a, .cb-sheet, article, footer, header, nav {
  background-origin: border-box !important;
}

.cb-sheet, article, footer, header, nav {
  display: block;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {

  color: #000;
}

.publicbody {
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0, rgba(158, 135, 110, 0.16) 250px) no-repeat, url(../img/page.png), linear-gradient(0deg, #181510 0, #846f58 250px) no-repeat;
    -svg-background: linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0, rgba(158, 135, 110, 0.16) 250px) no-repeat, url(../img/page.png), linear-gradient(0deg, #181510 0, #846f58 250px) no-repeat;
    background-attachment: fixed, fixed, fixed !important;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

table.position {
  position: relative;
  width: 100%;
  table-layout: fixed;
}

.cb-blockcontent li h1, .cb-blockcontent li h2, .cb-blockcontent li h3, .cb-blockcontent li h4, .cb-blockcontent li h5, .cb-blockcontent li h6, .cb-blockcontent li p, .cb-postcontent li h1, .cb-postcontent li h2, .cb-postcontent li h3, .cb-postcontent li h4, .cb-postcontent li h5, .cb-postcontent li h6, .cb-postcontent li p, li h1, li h2, li h3, li h4, li h5, li h6 {
  margin: 1px;
}

.cb-shapes {
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.cb-mainimage, .cb-shapes {
  position: absolute;
  top: 0;
  z-index: 0;
}

.cb-mainimage {
  display: block;
  left: 12px;
  margin-left: -1px;
  width: 196px;
  height: 97px;
}

.cb-headline {
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 8px;
  left: 328px;
  line-height: 100%;
  margin-left: -113px !important;
  transform: rotate(0deg);
  z-index: 99;
}

.cb-headline, .cb-headline a, .cb-headline a:hover, .cb-headline a:link, .cb-headline a:visited {
    font-size: 36px;
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #e4dbce !important;
    white-space: nowrap;
}

.cb-slogan {
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 63px;
  left: 328px;
  line-height: 100%;
  margin-left: -113px !important;
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.cb-slogan, .cb-slogan a, .cb-slogan a:hover, .cb-slogan a:link, .cb-slogan a:visited {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #e4dbce !important;
}

.cb-header-search-box {
  position: absolute;
  top: 5px;
  left: 96.67%;
  margin-left: -340px !important;
  transform: rotate(0deg);
  overflow: hidden;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 101;
}

.cb-header {
  border-radius: 20px;
  border: 1px solid transparent;
  height: 100px;
  background-image: url(../img/header.png);
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  min-width: 700px;
  max-width: 1920px;
  width: 100%;
  z-index: auto !important;
  margin-top: 10px;
}

.cb-nav {
    background: #c3a979;
    background: linear-gradient(0deg, #dbcbae 0, #b08e4f 87%, #a28349) no-repeat;
    -svg-background: linear-gradient(0deg, #dbcbae 0, #b08e4f 87%, #a28349) no-repeat;
    border-radius: 20px;

    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.15);

    padding: 3px;
    margin: 10px auto 0;
    position: relative;
    z-index: 100;
    font-size: 0;
    text-align: left;
}

ul.cb-hmenu a, ul.cb-hmenu a:hover, ul.cb-hmenu a:link, ul.cb-hmenu a:visited {
  outline: none;
  position: relative;
  z-index: 11;
}

ul.cb-hmenu, ul.cb-hmenu ul {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.cb-hmenu li {
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.cb-hmenu li:hover {
  z-index: 10000;
  white-space: normal;
}

ul.cb-hmenu:after, ul.cb-hmenu ul:after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.cb-hmenu, ul.cb-hmenu ul {
  min-height: 0;
}

ul.cb-hmenu {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.cb-nav:before {
  content: " ";
}

.desktop-nav.cb-nav {
  min-width: 700px;
  max-width: 1920px;
  width: 97%;
  padding-left: 3px;
  padding-right: 3px;
}

.cb-hmenu {
  float: left;
}

ul.cb-hmenu > li {
  margin-left: 9px;
}

ul.cb-hmenu > li:first-child {
  margin-left: 4px;
}

ul.cb-hmenu > li.last-child, ul.cb-hmenu > li:last-child {
  margin-right: 4px;
}

ul.cb-hmenu > li > a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0 12px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 26px;
  cursor: pointer;
  text-decoration: none;
  color: #271f11;
  line-height: 26px;
  text-align: center;
}

.cb-hmenu a, .cb-hmenu a.active, .cb-hmenu a:hover, .cb-hmenu a:link, .cb-hmenu a:visited {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
}

ul.cb-hmenu > li > a.active {
    background: #b8a27f;
    background: linear-gradient(0deg, #d4c6b0 0, #a4885b 84%, #947b51) no-repeat;
    -svg-background: linear-gradient(0deg, #d4c6b0 0, #a4885b 84%, #947b51) no-repeat;
    border-radius: 8px;
    border: 1px solid #87704a;
    padding: 0 12px;
    margin: 0 auto;
    color: #382d19;
    text-decoration: none;
}

ul.cb-hmenu > li:hover > a, ul.cb-hmenu > li > a:hover, ul.cb-hmenu > li > a:visited {
  text-decoration: none;
}

.desktop ul.cb-hmenu > li:hover > a, ul.cb-hmenu > li > a:hover {
    background: #b8a27f;
    background: linear-gradient(0deg, #d4c6b0 0, #a4885b 84%, #947b51) no-repeat;
    -svg-background: linear-gradient(0deg, #d4c6b0 0, #a4885b 84%, #947b51) no-repeat;
    border-radius: 8px;
    border: 1px solid #87704a;
    padding: 0 12px;
    margin: 0 auto;
}

.desktop-nav ul.cb-hmenu > li:hover > a, ul.cb-hmenu > li > a:hover {
  color: #000;
  text-decoration: none;
}

ul.cb-hmenu > li:before {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  left: -9px;
  width: 9px;
  height: 26px;
  background: url(../img/menuseparator.png) 50% no-repeat;
}

ul.cb-hmenu > li:first-child:before {
  display: none;
}

ul.cb-hmenu li li a {
  background: transparent;
  border-radius: 8px;
  padding: 0 8px;
  margin: 0 auto;
}

ul.cb-hmenu li li {
  float: none;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.desktop-nav ul.cb-hmenu li li ul > li:first-child {
  margin-top: 0;
}

ul.cb-hmenu li li ul > li:last-child {
  margin-bottom: 0;
}

.cb-hmenu ul a {
  display: block;
  white-space: nowrap;
  height: 26px;
  min-width: 7em;
  border: 0 solid transparent;
}

.cb-hmenu ul a, .cb-hmenu ul a.active, .cb-hmenu ul a:hover, .cb-hmenu ul a:link, .cb-hmenu ul a:visited {
    text-align: left;
    line-height: 26px;
    color: #312816;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
}

.desktop ul.cb-hmenu ul li:hover > a, ul.cb-hmenu ul li a:hover {
  background: #b8a27f;
  border-radius: 8px;
  margin: 0 auto;
}

.cb-hmenu ul a:hover {
  text-decoration: none;
}

.cb-hmenu ul li a:hover, .desktop-nav .cb-hmenu ul li:hover > a {
  color: #000;
}

ul.cb-hmenu ul:before {
  background: #d3c09c;
  border-radius: 8px;
  border: 1px solid #947742;
  margin: 0 auto;
  display: block;
  position: absolute;
  content: " ";
  z-index: 1;
}

.desktop-nav ul.cb-hmenu li:hover > ul {
  visibility: visible;
  top: 100%;
}

.desktop-nav ul.cb-hmenu li li:hover > ul {
  top: 0;
  left: 100%;
}

ul.cb-hmenu ul {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url(../img/spacer.gif);
}

.desktop-nav ul.cb-hmenu > li > ul {
  padding: 12px 32px 32px;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.cb-hmenu ul ul {
  padding: 32px 32px 32px 14px;
  margin: -32px 0 0 -9px;
}

.desktop-nav ul.cb-hmenu ul.cb-hmenu-left-to-right {
  right: auto;
  left: 0;
  margin: -10px 0 0 -45px;
}

.desktop-nav ul.cb-hmenu ul.cb-hmenu-right-to-left {
  left: auto;
  right: 0;
  margin: -10px -10px 0 0;
}

.desktop-nav ul.cb-hmenu li li:hover > ul.cb-hmenu-left-to-right {
  right: auto;
  left: 100%;
}

.desktop-nav ul.cb-hmenu li li:hover > ul.cb-hmenu-right-to-left {
  left: auto;
  right: 100%;
}

.desktop-nav ul.cb-hmenu ul ul.cb-hmenu-left-to-right {
  right: auto;
  left: 0;
  padding: 32px 32px 32px 14px;
  margin: -32px 0 0 -9px;
}

.desktop-nav ul.cb-hmenu ul ul.cb-hmenu-right-to-left {
  left: auto;
  right: 0;
  padding: 32px 14px 32px 32px;
  margin: -32px -9px 0 0;
}

.desktop-nav ul.cb-hmenu li ul > li:first-child {
  margin-top: 0;
}

.desktop-nav ul.cb-hmenu li ul > li:last-child {
  margin-bottom: 0;
}

.desktop-nav ul.cb-hmenu ul ul:before {
  border-radius: 8px;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 12px;
}

.desktop-nav ul.cb-hmenu > li > ul:before {
  top: 10px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop-nav ul.cb-hmenu > li > ul.cb-hmenu-left-to-right:before {
  right: 30px;
  left: 30px;
}

.desktop-nav ul.cb-hmenu > li > ul.cb-hmenu-right-to-left:before {
  right: 2px;
  left: 30px;
}

.desktop-nav ul.cb-hmenu ul ul.cb-hmenu-left-to-right:before {
  right: 30px;
  left: 12px;
}

.desktop-nav ul.cb-hmenu ul ul.cb-hmenu-right-to-left:before {
  right: 12px;
  left: 30px;
}

.cb-sheet {
  background: transparent;
  border-radius: 20px 20px 0 0;
  border: 1px solid transparent;
  cursor: auto;
  width: 100%;
  min-width: 700px;
  max-width: 1920px;
}

.cb-layout-wrapper, .cb-sheet {
  margin: 0 auto;
  position: relative;
  z-index: auto !important;
}

.cb-content-layout {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.cb-content-layout-row {
  display: table-row;
}

.cb-layout-cell {
  display: table-cell;
  vertical-align: top;
}

input, select, textarea {
  vertical-align: middle;
  font-weight: 400;
  font-style: normal;
}

form.cb-search input[type=text] {
    background: #f3f0ed;
    border-radius: 0;
    border: 1px solid #c3a979;
    margin: 0 auto;
    width: 100%;
    padding: 3px 0;
    box-sizing: border-box;
    color: #4d3e23 !important;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

form.cb-search {
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
}

form.cb-search input {
  top: 0;
  right: 0;
}

form.cb-search > input {
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

td.cb-searchtext table tbody tr td input[type=submit] {
  background: url(../img/searchicon.png) 50% no-repeat;
  width: 24px;

  box-shadow: none;
  -o-box-shadow: none;
  border-color: transparent;
}

.cb-post {
  background: transparent;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0 5px 5px 0;
  margin: 0 15px;
}

a img {
  border: 0;
}

.cb-footer img, img, img.cb-article {
  margin: 5px;
}

pre {
  overflow: auto;
  padding: .1em;
}

.cb-post .cb-content-layout-br {
  height: 0;
}

.cb-postcontent ul > li:before, .cb-post ul > li:before, .cb-textblock ul > li:before {
  content: url(../img/postbullets.png);
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .cb-postcontent ul > li:before, .opera .cb-post ul > li:before, .opera .cb-textblock ul > li:before {
  bottom: 0;
}

.cb-postcontent li, .cb-post li, .cb-textblock li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #000;
    margin: 5px 0 5px 11px;
}

.cb-postcontent ol, .cb-postcontent ul > li, .cb-post ol, .cb-post ul > li, .cb-textblock ol, .cb-textblock ul > li {
  padding: 0;
}

.cb-postcontent ul > li, .cb-post ul > li, .cb-textblock ul > li {
  padding-left: 11px;
}

.cb-postcontent ul > li:before, .cb-post ul > li:before, .cb-textblock ul > li:before {
  margin-left: -11px;
}

.cb-postcontent ol, .cb-postcontent ul, .cb-post ol, .cb-post ul, .cb-textblock ol, .cb-textblock ul {
  margin: 1em 0 1em 11px;
}

.cb-postcontent li ol, .cb-postcontent li ul, .cb-post li ol, .cb-post li ul, .cb-textblock li ol, .cb-textblock li ul {
  margin: .5em 0 .5em 11px;
}

.cb-postcontent li, .cb-post li, .cb-textblock li {
  margin: 5px 0;
}

.cb-postcontent ol > li, .cb-post ol > li, .cb-textblock ol > li {
  overflow: visible;
}

.cb-postcontent ul > li, .cb-post ul > li, .cb-textblock ul > li {
  overflow-x: visible;
  overflow-y: hidden;
}

.cb-footer {
  padding-bottom: 8px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.cb-footer, .cb-footer a, .cb-footer a:hover, .cb-footer a:link, .cb-footer a:visited, .cb-footer caption, .cb-footer td, .cb-footer th {
    color: #d6cdc2;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.cb-footer p {
  padding: 0;
  text-align: center;
}

.cb-footer a,
.cb-footer a:link {
    color: #ad9a85;
}

.cb-footer a, .cb-footer a:link, .cb-footer a:visited {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.cb-footer a:visited {
  color: #c0a572;
}

.cb-footer a:hover {
    color: #b39356;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.cb-footer img {
  margin: 5px;
}

.cb-content-layout .cb-content {
  margin: 0 auto;
}

.cb-content .cb-postcontent-0 .layout-item-0 {
  border: solid;
  border-width: 3px;
  border-color: #504335;
  color: #352b18;
  background: url(../img/022d9.png) scroll;
  border-collapse: separate;
  border-radius: 20px;
}

.cb-content .cb-postcontent-0 .layout-item-1 {
  color: #352b18;
  padding: 10px;
  border-radius: 4px;
}

.cb-content .cb-postcontent-0 .layout-item-2 {
  margin-top: 5px;
}

.cb-content .cb-postcontent-0 .layout-item-3 {
  border: solid;
  border-width: 3px;
  border-color: #504335;
  color: #352b18;
  background: url(../img/022d9.png) scroll;
  border-collapse: separate;
  border-radius: 20px;
}

.cb-content .cb-postcontent-0 .layout-item-4 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cabaa0;
  color: #352b18;
  padding: 10px;
  border-radius: 20px;
}

.ie6 .post .layout-cell, .ie7 .post .layout-cell {
  border: none !important;
  padding: 0 !important;
}

.cb-searchtext {
    font-family: Arial, serif;
    font-size: 14px;
    font-weight: 700;
    vertical-align: bottom;
    padding-right: 5px;
    width: 100%;
}

.col1and2 {
  width: 40%;
}

.col1and2, .col1and2 a:hover, .col1and2 a:visited {
  color: #e4dbce;
}

#cb-header-links a, #cb-header-links a:visited {
  color: #e4dbce;
  font-size: 14px;
  text-decoration: none;
}

input.cb-search-button {
  margin-left: 4px;
}

.cb-tng-area {
  border: 3px solid #504335;
  color: #352b18;
  background: url(../img/022d9.png) scroll;
  border-collapse: separate;
  border-radius: 20px;
  margin: 7px 20px 5px;
  padding: 0 10px 10px;
}

a.size1, a.size1:link, a.size1:visited {
  color: #009;
}

a.size2, a.size2:link, a.size2:visited {
  color: #33c;
}

a.size3, a.size3:link, a.size3:visited {
  color: #063;
}

a.size4, a.size4:link, a.size4:visited {
  color: #930;
}

a.size5, a.size5:link, a.size5:visited {
  color: #c03;
}

a.size6, a.size6:link, a.size6:visited {
  color: #666;
}

a.size7, a.size7:link, a.size7:visited {
  color: #c90;
}

a.size8, a.size8:link, a.size8:visited {
  color: #993;
}

a.size0, a.size0:link, a.size0:visited, a.size9, a.size9:link, a.size9:visited {
  color: #000;
}

.menu-label {
  padding-left: 3px;
}

#no-icon-wanted.menu-icon {
  width: 0;
  padding-left: 0;
}

#no-icon-wanted.menu-label {
  padding-left: 0;
}

.header {
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 6px;
    padding-top: 6px;
    color: #504034;
}

div.icons a:hover {
  color: #fff;
}

a:hover {
  color: #504034;
}

a:active, a:link {
  color: #352b18;
}

.bar {
  background-color: #504034;
}

.fieldnameback {
    background-color: #504034;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #504034;
    border-bottom-color: #504034;
}

.databack {
  background-color: #f9f9f9;
}

.databackalt {
  background-color: #e8e6dc;
}

.LB_closeAjaxWindow, .sideback {
  background-color: #504034;
}

.snlink {
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
  background-color: #987e64;
}

.snlink, a.snlink, a.snlink:active, a.snlink:visited {
  color: #eee;
}

.adminnav .snlink {
  background-color: #987e64;
}

.adminnav .snlinkact, .snlinkact, a.snlink:hover {
  background-color: #504034;
  color: #fff;
}

.LB_window {
  background: #f9f5f0;
  border: 2px solid #000;
  color: #000;
}

div.menucontainer {
  margin-bottom: 5px;
}

div.innercontainer {
  border-bottom: 1px solid #777;
}

ul.tngdd {
  background: url(../img/022d9.png) scroll;
}

ul.tngdd a {
  color: #fff;
}

.slidedown, ul.tngdd ul li a {
  background-color: #dfcebc;
}

ul.tngdd ul li a {
  color: #504034;
  border-top: 1px solid #504034;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
  background: #987e64 url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #777;
  border-right-color: #777;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  color: #fff;
  background: #504034 url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #987e64;
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

.tngsmallicon3 {
  padding: .1em 10px 0 0;
}

td.highlightedchild {
  background-color: #cdc9c9;
}

div.icons a {
  color: #fff;
}

div.icons a:hover {
  color: #fd4;
}

a.admincell:hover, a.leftlink:hover {
  background-color: #987e64;
}

.layout-item-1 {
  width: 33%;
}

.fambackground {
  background: #dfcebc url(../img/022d9.png) scroll;
}

@media (max-width: 975px) {
  .layout-item-1 {
    width: 95%;
  }
  .cb-content-layout-row, .cb-layout-cell {
    display: block;
  }
}

@media (max-width: 430px) {
  .layout-item-1 img {
    width: 100%;
  }

    .cb-content .cb-postcontent-0 .layout-item-0 {
        border: none;
    }

    .cb-content .cb-postcontent-0 .layout-item-1 {
        padding-top: 0;
    }

}

@import "tngtabs2.css";
@import "mytngstyle.css";
