#header {
  margin: 0 0 10px;
}

#cemwrapper {
  font-size: 12px;
  text-align: left;
  margin: 10px auto;
  padding: 0;
  border: 0;
  width: 100%;
}

#col0, #col1, #col2 {
  float: left;
  width: 30%;
  margin: 5px;
  height: 100%;
}

#col1, #col2 {
  border-left: 1px solid #000;
  padding-left: 10px;
}

.cemcountry {
  padding: 5px;
}

.cemblock {
  padding-left: 16px;
}

