#mast {
    background: #660002 url(../img/fieldbg.jpg);
    border-top: 1px solid #a33333;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #d5bf90;
    border-bottom: 1px solid #948055;
    border-top: 1px solid #f2e6cc;
    text-shadow: #fff 1px 1px 0;
    color: #000;
}