body {
    background: none;
}

#mast {
    background-color: #9fbfdf;
    background-image: -moz-linear-gradient(to bottom, #9fbfdf 0%, #2e5d85 100%);
    background-image: -webkit-linear-gradient(to bottom, #9fbfdf 0%, #2e5d85 100%);
    background-image: linear-gradient(to bottom, #9fbfdf 0%, #2e5d85 100%);
    border-top: 1px solid #9fbfdf;
}

.mhead ul li {
    background-color: #9fbfdf;
    color: #009;
}

.mhead li a {
    background-color: #9fbfdf;
    border-bottom: 1px solid #69692b;
    border-top: 1px solid #e0e0b9;
    /* replaced text-shadow: black 1px 1px 0px; */
    font-weight: bold;
    color: #009;
}

.mapcol {
    width: 50%;
}
