body {
  background: url(../img/bg.gif) repeat scroll 0 0 #fff;
}

#mast {
  background-color: #211a16;
  background-image: linear-gradient(180deg, #6b584a 0, #413226);
  border-top: 1px solid #998475;
}

.mhead ul li {
  color: #fff;
}

.mhead li a {
  background-color: #e0d1be;
  border-bottom: 1px solid #967954;
  border-top: 1px solid #fcf9f7;
  text-shadow: #fff 1px 1px 1px;
  color: #000;
}

.headerrow {
  width: inherit;
}
