ul#tngnav {
    margin: 0 0 0 10px;
}

#tngnav li {
    margin: 0 0 0 1px;
}

#tngnav a {
    color: #444;
    background: #cc9;
    padding: 0.45em 1em 0.35em 8px;
    border-right: 1px solid #444;
    border-radius: 4px 4px 0 0;
}

#tngnav a:hover {
    background: #900;
    color: #fff;
}

#tngnav a.here {
    background: #900;
    color: #fc0;
    border-right: 1px solid #444;
    margin: 0;
}

/*to keep older browsers happy*/
#tabs div {
    margin: 0 1px 0 0;
    padding: 0 0 .3em 0;
}

#tabs a {
    background: #cc9;
    color: #444;
    padding: 0.4em 0.8em 0.5em 0.8em;
    border-right: 1px solid #aaa;
}

#tabs a:hover {
    background: #900;
    color: #fff;
}

#tabs .here {
    background: #900;
    color: #fc0;
}
