#art-main {
  font-style: normal;
  font-weight: 400;
}

.art-postcontent, .art-postcontent a, .art-postcontent a.hovered, .art-postcontent a.visited, .art-postcontent a:hover, .art-postcontent a:link, .art-postcontent a:visited, .art-postcontent li {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.art-postcontent p {
  margin: 12px 0;
}

.art-postcontent a, .art-postcontent a:link {
  color: #9b3f17;
}

.art-postcontent a.visited, .art-postcontent a:visited {
  color: #655c4e;
}

.art-postcontent a.hover, .art-postcontent a:hover {
  text-decoration: none;
  color: #cc531e;
}

.art-postcontent h1 {
  color: #efaf2e;
  margin: 15px 0;
}

.art-blockcontent h1 {
  margin: 15px 0;
}

.art-postcontent h2 {
  color: #cc531e;
}

.art-blockcontent h2, .art-postcontent h2 {
  margin: 16px 0;
  font-size: 22px;
  letter-spacing: 2px;
}

.art-blockcontent h2 a, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:link, .art-blockcontent h2 a:visited, .art-postcontent h2 a, .art-postcontent h2 a:hover, .art-postcontent h2 a:link, .art-postcontent h2 a:visited {
  font-size: 22px;
  letter-spacing: 2px;
}

.art-postcontent h3 {
  color: #655c4e;
}

.art-blockcontent h3, .art-postcontent h3 {
  margin: 18px 0;
  font-size: 20px;
  letter-spacing: 2px;
}

.art-blockcontent h3 a, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:link, .art-blockcontent h3 a:visited, .art-postcontent h3 a, .art-postcontent h3 a:hover, .art-postcontent h3 a:link, .art-postcontent h3 a:visited {
  font-size: 20px;
  letter-spacing: 2px;
}

.art-blockcontent-body ul {
  list-style-type: none;
}

html {
  height: 100%;
}

#art-main {
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: visible;
}

body {
  color: #2e2a23;
  background-image: url(../img/Bottom_texture.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 0;
}

.cleared {
  display: block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height: 0;
  overflow: hidden;
}

.reset-box {
  overflow: hidden;
  display: table;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

.art-sheet {
  position: relative;
  min-height: 21px;
  margin: 20px auto -4px;
  cursor: auto;
  width: 95%;
  min-width: 700px;
  max-width: 1344px;
}

.art-sheet-body {
  position: relative;
  padding: 6px;
}

.art-sheet-bc, .art-sheet-bl, .art-sheet-br, .art-sheet-cl, .art-sheet-cr, .art-sheet-tc, .art-sheet-tl, .art-sheet-tr {
  position: absolute;
}

.art-sheet-bl, .art-sheet-br, .art-sheet-tl, .art-sheet-tr {
  width: 36px;
  height: 36px;
  background-image: url(../img/sheet_s.png);
}

.art-sheet-tl {
  top: 0;
  left: 0;
  clip: rect(auto, 18px, 18px, auto);
}

.art-sheet-tr {
  top: 0;
  right: 0;
  clip: rect(auto, auto, 18px, 18px);
}

.art-sheet-bl {
  bottom: 0;
  left: 0;
  clip: rect(18px, 18px, auto, auto);
}

.art-sheet-br {
  bottom: 0;
  right: 0;
  clip: rect(18px, auto, auto, 18px);
}

.art-sheet-bc, .art-sheet-tc {
  left: 18px;
  right: 18px;
  height: 36px;
  background-image: url(../img/sheet_h.png);
}

.art-sheet-tc {
  top: 0;
  clip: rect(auto, auto, 18px, auto);
}

.art-sheet-bc {
  bottom: 0;
  clip: rect(18px, auto, auto, auto);
}

.art-sheet-cl, .art-sheet-cr {
  top: 18px;
  bottom: 18px;
  width: 36px;
  background-image: url(../img/sheet_v.png);
}

.art-sheet-cr {
  right: 0;
  clip: rect(auto, auto, auto, 18px);
}

.art-sheet-cl {
  left: 0;
  clip: rect(auto, 18px, auto, auto);
}

.art-sheet-cc {
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  bottom: 18px;
  background-color: #fff;
}

#art-page-background-glare, #art-page-background-middle-texture, #art-page-background-top-texture {
  min-width: 70%;
}

div.art-header {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

div.art-header-clip {
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  height: 150px;
}

div.art-header-center {
  position: relative;
  width: 1344px;
  left: 50%;
}

div.art-header-jpeg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 1344px;
  height: 150px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
}

div.art-headerobject {
  display: block;
  left: 100%;
  margin-left: -432px;
  position: absolute;
  top: 0;
  background-position: 100%;
}

div.art-logo {
  display: block;
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -550px;
  width: 720px;
}

h1.art-logo-name {
    display: block;
    text-align: center;
    font-family: Lucida Calligraphy, Apple Chancery, Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    color: #efaf2e !important;
}

h1.art-logo-name a {
  text-decoration: none;
  color: #efaf2e !important;
}

.mmaintitle {
    font-family: Lucida Calligraphy, Apple Chancery, Arial, Helvetica, sans-serif;
    color: #da5820;
}

h2.art-logo-text {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2.art-logo-text, h2.art-logo-text a {
  color: #e2dfda !important;
}

#headline, #slogan {
  display: block;
  min-width: 150px;
  text-align: center;
}

.art-hmenu a, .art-hmenu a:hover, .art-hmenu a:link, .art-hmenu a:visited {
  outline: none;
}

.art-hmenu, .art-hmenu ul {
  list-style-type: none;
}

.art-hmenu, .art-hmenu li, .art-hmenu ul {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.art-hmenu li {
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-hmenu li:hover {
  z-index: 10000;
  white-space: normal;
}

.art-hmenu li li {
  float: none;
}

.art-hmenu ul {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  min-height: 0;
  background: url(../img/spacer.gif);
  padding: 10px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-hmenu li:hover > ul {
  visibility: visible;
  top: 100%;
}

.art-hmenu li li:hover > ul {
  top: 0;
  left: 100%;
}

.art-hmenu:after, .art-hmenu ul:after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

.art-hmenu {
  min-height: 0;
  position: relative;
  padding: 0;
}

.art-hmenu ul ul {
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

.art-nav {
  position: relative;
  min-height: 25px;
  z-index: 2;
  margin: 0 auto;
}

.art-nav-outer {
  position: absolute;
  width: 100%;
}

.art-nav-l, .art-nav-r {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url(../img/nav.png);
}

.art-nav-l {
  left: 0;
  right: 0;
}

.art-nav-r {
  right: 0;
  width: 1344px;
  clip: rect(auto, auto, auto, 1344px);
}

.art-hmenu a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 25px;
  cursor: pointer;
  font-weight: 700;
  font-size: 11px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.art-hmenu ul li {
  margin: 0;
  clear: both;
}

.art-hmenu a .l, .art-hmenu a .r {
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 85px;
  background-image: url(../img/menuitem.png);
}

.art-hmenu a .l {
  left: 0;
  right: 0;
}

.art-hmenu a .r {
  width: 400px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.art-hmenu a .t, .art-hmenu a:hover, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu ul a {
  font-weight: 700;
  font-size: 11px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.art-hmenu a .t {
  color: #fbebcb;
  padding: 0 12px;
  margin: 0;
  line-height: 25px;
  text-align: center;
}

.art-hmenu a:hover .l, .art-hmenu a:hover .r, .art-hmenu li:hover > a .l, .art-hmenu li:hover > a .r, .art-hmenu li:hover a .l, .art-hmenu li:hover a .r {
  top: -30px;
}

.art-hmenu a:hover .t, .art-hmenu li:hover > a .t, .art-hmenu li:hover a .t {
  color: #e0dcd7;
}

.art-hmenu a.active .l, .art-hmenu a.active .r {
  top: -60px;
}

.art-hmenu a.active .t {
  color: #0d0502;
}

.art-hmenu .art-hmenu-li-separator {
  display: block;
  width: 0;
  height: 25px;
}

.art-hmenu ul a {
  display: block;
  white-space: nowrap;
  height: 20px;
  width: 180px;
  overflow: hidden;
  background-image: url(../img/subitem.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  border-width: 0;
  border-style: solid;
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #000;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.art-nav ul.art-hmenu ul span, .art-nav ul.art-hmenu ul span span {
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-hmenu ul a:active, .art-hmenu ul a:hover, .art-hmenu ul a:link, .art-hmenu ul a:visited, .art-nav ul.art-hmenu ul span, .art-nav ul.art-hmenu ul span span {
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #000;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.art-hmenu ul li:hover > a, .art-hmenu ul li a:hover {
  color: #000;
  background-position: 0 -20px;
}

.art-nav .art-hmenu ul li:hover > a span, .art-nav .art-hmenu ul li:hover > a span span, .art-nav .art-hmenu ul li a:hover span, .art-nav .art-hmenu ul li a:hover span span {
  color: #000;
}

.art-content-layout {
  display: table;
  position: relative;
  table-layout: fixed;
  background-color: Transparent;
  border: none !important;
  padding: 0 !important;
  width: 100%;
  margin: 0 auto;
}

.art-content-layout-row, .art-layout-cell {
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin: 0;
  padding: 0;
}

.art-content-layout .art-content-layout {
  margin: 0;
}

.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {
  display: table-cell;
}

.art-layout-cell .art-layout-cell {
  display: block;
}

.art-content-layout-row {
  display: table-row;
}

.art-block, .art-layout-glare {
  position: relative;
}

.art-block {
  min-width: 15px;
  min-height: 15px;
  margin: 10px;
}

.art-block-body {
  position: relative;
  padding: 8px;
}

.art-block-bc, .art-block-bl, .art-block-br, .art-block-cl, .art-block-cr, .art-block-tc, .art-block-tl, .art-block-tr {
  position: absolute;
}

.art-block-bl, .art-block-br, .art-block-tl, .art-block-tr {
  width: 12px;
  height: 12px;
  background-color: #dcd7d1;
  border: 1px solid #b1a89a;
  border-radius: 6px 6px 6px 6px;
}

.art-block-tl {
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-block-tr {
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-block-bl {
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-block-br {
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-block-bc, .art-block-tc {
  left: 7px;
  right: 7px;
  height: 12px;
  background-color: #dcd7d1;
  border-top: 1px solid #b1a89a;
  border-bottom: 1px solid #b1a89a;
}

.art-block-tc {
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-block-bc {
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-block-cl, .art-block-cr {
  top: 7px;
  bottom: 7px;
  width: 12px;
  background-color: #dcd7d1;
  border-left: 1px solid #b1a89a;
  border-right: 1px solid #b1a89a;
}

.art-block-cr {
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-block-cl {
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-block-cc {
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #dcd7d1;
}

div.art-block img {
  border: 0 solid #cac3ba;
  margin: 7px;
}

.art-blockheader {
  margin-bottom: 0;
  position: relative;
  height: 29px;
}

.art-blockheader h3.t {
  position: relative;
  height: 29px;
  margin: 0;
  padding: 0 11px;
  white-space: nowrap;
  line-height: 29px;
}

.art-blockheader h3.t, .art-blockheader h3.t a, .art-blockheader h3.t a:hover, .art-blockheader h3.t a:link, .art-blockheader h3.t a:visited {
    color: #fbedd0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: normal;
    text-transform: uppercase;
}

.art-blockheader .l, .art-blockheader .r {
  position: absolute;
  height: 29px;
  background-image: url(../img/blockheader.png);
}

.art-blockheader .l {
  left: 0;
  right: 7px;
}

.art-blockheader .r {
  width: 1344px;
  right: 0;
  clip: rect(auto, auto, auto, 1337px);
}

.art-blockcontent {
  position: relative;
  margin: 0 auto;
  min-width: 9px;
  min-height: 9px;
}

.art-blockcontent-body {
    position: relative;
    padding: 8px;
    color: #51493e;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.art-blockcontent-bc, .art-blockcontent-bl, .art-blockcontent-br, .art-blockcontent-cl, .art-blockcontent-cr, .art-blockcontent-tc, .art-blockcontent-tl, .art-blockcontent-tr {
  position: absolute;
}

.art-blockcontent-bl, .art-blockcontent-br, .art-blockcontent-tl, .art-blockcontent-tr {
  width: 6px;
  height: 6px;
  background-color: #ebe9e5;
  border: 1px solid #cac3ba;
  border-radius: 4px 4px 4px 4px;
}

.art-blockcontent-tl {
  top: 0;
  left: 0;
  clip: rect(auto, 4px, 4px, auto);
}

.art-blockcontent-tr {
  top: 0;
  right: 0;
  clip: rect(auto, auto, 4px, 4px);
}

.art-blockcontent-bl {
  bottom: 0;
  left: 0;
  clip: rect(4px, 4px, auto, auto);
}

.art-blockcontent-br {
  bottom: 0;
  right: 0;
  clip: rect(4px, auto, auto, 4px);
}

.art-blockcontent-bc, .art-blockcontent-tc {
  left: 4px;
  right: 4px;
  height: 6px;
  background-color: #ebe9e5;
  border-top: 1px solid #cac3ba;
  border-bottom: 1px solid #cac3ba;
}

.art-blockcontent-tc {
  top: 0;
  clip: rect(auto, auto, 4px, auto);
}

.art-blockcontent-bc {
  bottom: 0;
  clip: rect(4px, auto, auto, auto);
}

.art-blockcontent-cl, .art-blockcontent-cr {
  top: 4px;
  bottom: 4px;
  width: 6px;
  background-color: #ebe9e5;
  border-left: 1px solid #cac3ba;
  border-right: 1px solid #cac3ba;
}

.art-blockcontent-cr {
  right: 0;
  clip: rect(auto, auto, auto, 4px);
}

.art-blockcontent-cl {
  left: 0;
  clip: rect(auto, 4px, auto, auto);
}

.art-blockcontent-cc {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: #ebe9e5;
}

.art-blockcontent-body a, .art-blockcontent-body a:hover, .art-blockcontent-body a:link, .art-blockcontent-body a:visited, .art-blockcontent-body li {
    color: #51493e;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.art-blockcontent-body p {
  margin: 6px 0;
}

.art-blockcontent-body a, .art-blockcontent-body a:link {
  color: #595145;
  text-decoration: underline;
}

.art-blockcontent-body a.visited, .art-blockcontent-body a:visited {
  color: #958875;
  text-decoration: none;
}

.art-blockcontent-body a.hover, .art-blockcontent-body a:hover {
  color: #ba4b1c;
  text-decoration: none;
}

.art-blockcontent-body ul li {
  font-size: 13px;
  line-height: 125%;
  color: #3d372f;
  margin: 0;
  padding: 0 0 0 16px;
  background-image: url(../img/blockcontentbullets.png);
  background-repeat: no-repeat;
}

.art-button-wrapper a.art-button, .art-button-wrapper a.art-button:link, .art-button-wrapper button.art-button, .art-button-wrapper input.art-button {
    text-decoration: none;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #0e0a01 !important;
    width: auto;
    outline: none;
    border: none;
    background: none;
    line-height: 33px;
    height: 33px;
    margin: 0 !important;
    padding: 0 16px !important;
    overflow: visible;
    cursor: pointer;
}

.art-button-wrapper, .art-button-wrapper img, .art-button img {
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper {
  display: inline-block;
  position: relative;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper {
  display: block;
  float: left;
}

input, select, textarea {
  vertical-align: middle;
  font-style: normal;
}

.art-block select {
  width: 96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover {
  color: #000 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link {
  color: #e7e4df !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r {
  display: block;
  position: absolute;
  height: 109px;
  margin: 0;
  padding: 0;
  background-image: url(../img/button.png);
}

.art-button-wrapper .art-button-l {
  left: 0;
  right: 10px;
}

.art-button-wrapper .art-button-r {
  width: 409px;
  right: 0;
  clip: rect(auto, auto, auto, 399px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r {
  top: -38px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r {
  top: -76px;
}

.art-button-wrapper input {
  float: none !important;
}

.art-post {
  position: relative;
  min-width: 1px;
  min-height: 1px;
  min-height: 400px;
  margin: 0;
}

.art-post-body {
  position: relative;
  padding: 10px;
}

a img {
  border: 0;
}

.art-article img, .art-block img, .art-footer img, img.art-article {
  border: 0 solid #cac3ba;
  margin: 0 12px 7px 2px;
}

.art-metadata-icons img {
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article td, .art-article th {
  padding: 2px;
  border: 1px solid #b1a89a;
  vertical-align: top;
  text-align: left;
}

.art-article th {
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre {
  overflow: auto;
  padding: .1em;
}

h2.art-postheader {
  color: #5f5649;
  margin: 12px 0 8px;
}

h2.art-postheader, h2.art-postheader a, h2.art-postheader a.hovered, h2.art-postheader a.visited, h2.art-postheader a:hover, h2.art-postheader a:link, h2.art-postheader a:visited {
  font-size: 22px;
  letter-spacing: 2px;
}

h2.art-postheader a, h2.art-postheader a:link {
  text-decoration: none;
  color: #853614;
}

h2.art-postheader a.visited, h2.art-postheader a:visited {
  color: #564e43;
}

h2.art-postheader a.hovered, h2.art-postheader a:hover {
  text-decoration: underline;
  color: #cc531e;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:hover, .art-postheadericons a:link, .art-postheadericons a:visited {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: #484137;
}

.art-postheadericons {
  padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #a6730c;
}

.art-postheadericons a.visited, .art-postheadericons a:visited {
  letter-spacing: 1px;
  color: #a6730c;
}

.art-postheadericons a.hover, .art-postheadericons a:hover {
  letter-spacing: 1px;
  text-decoration: underline;
  color: #da9710;
}

.art-post li {
  color: #484137;
}

.art-postcontent blockquote, .art-postcontent blockquote a, .art-postcontent blockquote a:hover, .art-postcontent blockquote a:link, .art-postcontent blockquote a:visited {
  color: #3d372f;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.art-postcontent blockquote p {
  margin: 5px;
}

.art-postcontent blockquote {
  border: 0 solid #cac3ba;
  margin: 10px 10px 10px 50px;
  padding: 0 0 0 28px;
  background-color: #ebe9e5;
  background-image: url(../img/postquote.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: auto;
  clear: both;
}

.art-footer {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.art-footer-b {
  bottom: 0;
  height: 50px;
  background-image: url(../img/footer_b.png);
}

.art-footer-b, .art-footer-t {
  position: absolute;
  left: 0;
  right: 0;
}

.art-footer-t {
  top: 0;
  bottom: 50px;
  background-image: url(../img/footer_t.png);
  background-position: 0 100%;
}

.art-footer-body {
  position: relative;
  padding: 5px;
}

.art-footer-body .art-rss-tag-icon {
  position: absolute;
  left: 6px;
  bottom: 5px;
  z-index: 1;
}

.art-rss-tag-icon {
  display: block;
  background-image: url(../img/rssicon.png);
  background-position: 100%;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}

.art-footer-text p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.art-footer-text {
  color: #d7d2cb;
  font-size: 12px;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.art-footer-text a,
.art-footer-text a:link {
    color: #bcb4a9;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.art-footer-text a:visited {
  color: #d0cbc2;
}

.art-footer-text a:hover {
  color: #eb9c7a;
  text-decoration: underline;
}

div.art-footer img {
  border-color: #cac3ba;
  border-style: solid;
  margin: 0;
}

.art-page-footer {
    font-family: Arial, serif;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    color: #59240d;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #5f4207;
}

.art-content-layout .art-sidebar1, .art-content-layout .art-sidebar2 {
  background-color: #cac3ba;
  width: 220px;
}

.art-vmenublock {
  position: relative;
  min-width: 15px;
  min-height: 15px;
  margin: 10px;
}

.art-vmenublock-body {
  position: relative;
  padding: 1px;
}

.art-vmenublock-bc, .art-vmenublock-bl, .art-vmenublock-br, .art-vmenublock-cl, .art-vmenublock-cr, .art-vmenublock-tc, .art-vmenublock-tl, .art-vmenublock-tr {
  position: absolute;
}

.art-vmenublock-bl, .art-vmenublock-br, .art-vmenublock-tl, .art-vmenublock-tr {
  width: 12px;
  height: 12px;
  background-color: #dcd7d1;
  border: 1px solid #b1a89a;
  border-radius: 6px 6px 6px 6px;
}

.art-vmenublock-tl {
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-vmenublock-tr {
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-vmenublock-bl {
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-vmenublock-br {
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-vmenublock-bc, .art-vmenublock-tc {
  left: 7px;
  right: 7px;
  height: 12px;
  background-color: #dcd7d1;
  border-top: 1px solid #b1a89a;
  border-bottom: 1px solid #b1a89a;
}

.art-vmenublock-tc {
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-vmenublock-bc {
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-vmenublock-cl, .art-vmenublock-cr {
  top: 7px;
  bottom: 7px;
  width: 12px;
  background-color: #dcd7d1;
  border-left: 1px solid #b1a89a;
  border-right: 1px solid #b1a89a;
}

.art-vmenublock-cr {
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-vmenublock-cl {
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-vmenublock-cc {
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #dcd7d1;
}

.art-vmenublockcontent {
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body {
  position: relative;
  padding: 0;
}

ul.art-vmenu, ul.art-vmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.art-vmenu {
  margin-top: 0;
  margin-bottom: 0;
}

ul.art-vmenu ul {
  display: none;
}

ul.art-vmenu ul.active {
  display: block;
}

ul.art-vmenu a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span {
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.art-vmenu a .l, ul.art-vmenu a .r {
  position: absolute;
  display: block;
  top: 0;
  height: 100px;
  background-image: url(../img/vmenuitem.png);
}

ul.art-vmenu a .l {
  left: 0;
  right: 7px;
}

ul.art-vmenu a .r {
  width: 1358px;
  right: 0;
  clip: rect(auto, auto, auto, 1351px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a {
    font-family: Palatino Linotype, Georgia, Times New Roman, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: normal;
    text-transform: uppercase;
}

ul.art-vmenu a .t {
  display: block;
  position: relative;
  top: 0;
  line-height: 30px;
  color: #51493e;
  padding: 0 11px;
  margin-left: 0;
  margin-right: 0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r {
  top: -70px;
}

ul.art-vmenu a.active .t {
  color: #484137;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r {
  top: -35px;
}

ul.art-vmenu a:hover .t {
  color: #171512;
}

.header, .plainheader, a:active, a:link, div.icons a {
  color: #5f5649;
}

.bar, .fieldnameback, .LB_closeAjaxWindow, .page, a.admincell:hover, a.leftlink:hover {
    background-color: #ca521e;
}

.admincell, .sideback {
  background-color: #5f5649;
  background-image: none;
}

.snlink {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #dcd7d1;
  color: #000;
}

.adminnav .snlinkact, .snlinkact, a.snlink:hover {
  background-color: #ca521e;
  color: #fff;
}

.LB_window {
  background: #dcd7d1;
  border: 2px solid #000;
  color: #000;
}

div.innercontainer {
  border-bottom: 1px solid #999;
}

ul.tngdd {
  background-color: #fff;
}

ul.tngdd a {
  color: #5f5649;
}

.slidedown, ul.tngdd ul li a {
  background-color: #dcd7d1;
}

ul.tngdd ul li a:hover {
  background-color: #fff;
}

ul.tngdd .menulink {
    background: #dcd7d1 url(../img/ArrowDown.gif) 2px 8px no-repeat;
    background-image: url(../img/ArrowDown.gif), linear-gradient(0deg, #f5efe9, #c5bfb9);
    background-position: 2px 8px, 0 0;
    background-repeat: no-repeat;
}

ul.tngdd .langmenu, ul.tngdd .menulink {
  border-bottom-color: #999;
  border-right-color: #999;
}

ul.tngdd .menuhover, ul.tngdd .menulink:hover {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  background: #ca521e url(../img/arrowdown2.gif) 2px 8px no-repeat;
}

div.innercontainer, ul.tngdd .langmenu, ul.tngdd .stubmenu {
  background-color: #dcd7d1;
  background-image: linear-gradient(0deg, #f5efe9, #c5bfb9);
}

.databack {
  background-color: #dcd7d1;
}

.databackalt {
  background-color: #f2f0ee;
}

.adminback {
  background-image: url(../img/Bottom_texture.jpg);
}

ul.tngdd .sub {
  background: #d1d1d1 url(../img/arrow.gif) 146px 7px no-repeat;
}

ul.tngdd .topline {
  border-top: 1px solid #777;
}

ul.home-menus {
  margin: 0;
  padding: 0;
}

.emailimg {
  width: 40px;
  height: 26px;
  margin: 2px 8px;
  float: left;
  border: 0;
}

table.calendar, td.calDay, td.calToday {
  border-color: #ca521e;
}

@media (max-width: 1000px) {
  div.art-headerobject {
    width: 100%;
  }

  div.art-logo {
    left: 0;
    margin-left: 0;
    width: 100%;
    top: 0;
  }

    div.art-headerobject {
    background-image: none;
  }

}

.fambackground {
  background-color: #dcd7d1;
}

@media (max-width: 740px) {
  .art-content-layout .art-sidebar1 {
    display: none;
  }

    .art-sheet {
    min-width: 0;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {
    display: block;
  }

    .art-content-layout .art-sidebar1 {
    display: none;
  }

    h1.art-logo-name {
    font-size: 22px;
    text-shadow: 1px 1px 3px #333;
  }

    h2.art-logo-text {
    font-size: 12px;
  }

    div#art-header-bg, div.art-header, div.art-header-clip, div.art-header-jpeg {
    height: 100px;
  }

    div#art-hmenu-bg {
    top: 100px;
  }

    .art-post {
    border: none;
  }

    .temppreview {
    width: 100%;
  }

    .art-content-layout .art-sidebar2 {
    width: 100%;
        background-color: transparent;
    }

    .art-sheet {
        min-width: 0;
        margin: 0;
        width: 100%;
    }
}

@import "tngtabs2.css";
@import "mytngstyle.css";
