#mast {
    background-color: #336;
    background-image: -moz-linear-gradient(to bottom, #447 0%, #225 100%);
    background-image: -webkit-linear-gradient(to bottom, #447 0%, #225 100%);
    background-image: linear-gradient(to bottom, #447 0%, #225 100%);
    border-top: 1px solid #44f;
}