#mast {
  background-color: #68939b;
  background-image: linear-gradient(180deg, #729fa7 0, #37717c);
  border-top: 1px solid #9ec5cc;
}

.mhead ul li {
  color: #fff;
}

.mhead li a {
  background-color: #654;
  border-bottom: 1px solid #413223;
  border-top: 1px solid #9b8875;
  text-shadow: #000 1px 1px 0;
}