#mast {
    background-color: #68939b;
    background-image: -moz-linear-gradient(to bottom, #729fa7 0%, #37717c 100%);
    background-image: -webkit-linear-gradient(to bottom, #729fa7 0%, #37717c 100%);
    background-image: linear-gradient(to bottom, #729fa7 0%, #37717c 100%);
    border-top: 1px solid #9ec5cc;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #654;
    border-bottom: 1px solid #413223;
    border-top: 1px solid #9b8875;
    text-shadow: black 1px 1px 0;
}