body {
    background: none;
}

#mast {
    background-color: #ca521e;
    background-image: -moz-linear-gradient(to bottom, #df632d 0%, #b44211 100%);
    background-image: -webkit-linear-gradient(to bottom, #df632d 0%, #b44211 100%);
    background-image: linear-gradient(to bottom, #df632d 0%, #b44211 100%);
    border-top: 1px solid #e49370;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #b6aa9b;
    border-bottom: 1px solid #7a6e5f;
    border-top: 1px solid #dcd7d1;
    text-shadow: black 1px 1px 0;
}