#mast {
    background-color: #b9b186;
    background-image: -moz-linear-gradient(to bottom, #c5bd93 0%, #a59c6f 100%);
    background-image: -webkit-linear-gradient(to bottom, #c5bd93 0%, #a59c6f 100%);
    background-image: linear-gradient(to bottom, #c5bd93 0%, #a59c6f 100%);
    border-top: 1px solid #dad3b0;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #d6d6bc;
    border-bottom: 1px solid #7a7a58;
    border-top: 1px solid #fffffd;
    text-shadow: white 1px 1px 0;
    color: #666;
}