.mmaintitle {
    font-family: 'Lusitana', serif;
    font-size: 18pt;
    text-shadow: 1px 1px #000;
    color: #9b5520;
}

body {
    background-color: #f7ede5;
}

#mast {
    background-color: #d99860;
    background-image: -moz-linear-gradient(to bottom, #d99860 0%, #9b5520 100%);
    background-image: -webkit-linear-gradient(to bottom, #d99860 0%, #9b5520 100%);
    background-image: linear-gradient(to bottom, #d99860 0%, #9b5520 100%);
    border-top: 1px solid #000;
}

.mhead ul li {
    color: #fff;
}

.mhead li a {
    background-color: #e2c2a9;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #ddd;
    color: #333;
}
